<!-- TAB NOTES [START] -->

<div class="r-tabs-accordion-title r-tabs-state-default">
    <a class="r-tabs-anchor">Notes</a
  >
</div>
<div
  id="mid-notes"
  class="r-tabs-panel r-tabs-state-default"
  style="display: none"
>
  <div class="col-sm-12 col-md-12">
    <div class="profilex">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h5>Notes</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 toolbar">
          <ul class="list-inline">
            <li>
              <a
                class="btn btn_toolbar"
                ><span class="glyphicon glyphicon-plus"></span> Add note</a
              >
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div
        class="panel-group"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading3">
            <h4 class="panel-title">
              <a
                class="accordion_href"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="true"
                aria-controls="collapse3"
                ><small class="muted text-green"
                  ><strong>[ 30 Sep 2021 ]</strong></small
                >
                test2</a
              >
            </h4>
          </div>
          <div
            id="collapse3"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading3"
          >
            <div class="panel-body">
              <div class="toolbar">
                <ul class="list-inline marg_li_5">
                  <a
                    data-toggle="tooltip"
                    title=""
                    class="btn btn-sm btn-default"
                    data-original-title="Download"
                    ><span class="glyphicon glyphicon-download-alt"></span
                  ></a>
    <a target="_blank" data-toggle="tooltip" title="" class="btn btn-sm btn-default" data-original-title="Print"><span class="glyphicon glyphicon-print"></span
                  ></a>
    <a data-toggle="tooltip" title="" class="btn btn-sm btn-default" data-original-title="Edit"><span class="glyphicon glyphicon-pencil"></span
                  ></a>
    <a data-toggle="tooltip" title="" onclick="return confirm('Are you sure you want to delete this note?');" class="btn btn-sm btn-danger" data-original-title="Delete"><span class="glyphicon glyphicon-remove"></span
                  ></a>
    </ul>
</div>
<hr /> rawr
<hr />
<small class="muted">Last modified by: Dr. Mazhar Ilahi on 30-09-2021
                17:31:59</small
              >
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
              <a
                class="accordion_href"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="true"
                aria-controls="collapse2"
                ><small class="muted text-green"
                  ><strong>[ 30 Sep 2021 ]</strong></small
                >
                test</a
              >
            </h4>
          </div>
          <div
            id="collapse2"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="heading2"
          >
            <div class="panel-body">
              <div class="toolbar">
                <ul class="list-inline marg_li_5">
                  <a
                    data-toggle="tooltip"
                    title=""
                    class="btn btn-sm btn-default"
                    data-original-title="Download"
                    ><span class="glyphicon glyphicon-download-alt"></span
                  ></a>
                  <a
                    target="_blank"
                    data-toggle="tooltip"
                    title=""
                    class="btn btn-sm btn-default"
                    data-original-title="Print"
                    ><span class="glyphicon glyphicon-print"></span
                  ></a>
                  <a
                    data-toggle="tooltip"
                    title=""
                    class="btn btn-sm btn-default"
                    data-original-title="Edit"
                    ><span class="glyphicon glyphicon-pencil"></span
                  ></a>
                  <a
                    data-toggle="tooltip"
                    title=""
                    onclick="return confirm('Are you sure you want to delete this note?');"
                    class="btn btn-sm btn-danger"
                    data-original-title="Delete"
                    ><span class="glyphicon glyphicon-remove"></span
                  ></a>
                </ul>
              </div>
              <hr />
              test
              <hr />
              <small class="muted"
                >Last modified by: Dr. Mazhar Ilahi on 30-09-2021
                17:31:44</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearme"></div>
  </div>
  <div class="clearme"></div>
</div>