<h1
  id="pg-title"
  class="row align-items-center justify-content-center justify-content-md-start"
>
  Client Portal > My cases
</h1>

<div class="row">
  <div class="col-md-12">
    <div class="widget mb-2" *ngFor="let case of Cases">
      <div class="widget-body" >
        <div class="row">
          <div class="col-md-12 mb-2 ">
            <h3 class="text-center m-0">{{case.reference}}</h3>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Advice</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.adviseGiven}}
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Agreed Plan Of Action</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.agreedPlanOfAction}}
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Case Status</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.caseStatus}}
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Case SuperVisor</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.caseSuperVisor}}
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Case Worker</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.caseWorker}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Category</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.category}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Chances Of Success</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.chancesOfSuccess}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Conflicts Of Interest</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.conflictsOfInterest}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Start Date</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.startDate}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Weaknesses Of Case</label>
          </div>
          <div class="col-xs-12 col-md-3 mb-2">
            {{case.weaknessesOfCase}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Client Instructions</label>
          </div>
          <div class="col-xs-12 col-md-9 mb-2">
            {{case.clientInstructions}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Criminal Conviction Description</label>
          </div>
          <div class="col-xs-12 col-md-9 mb-2">
            {{case.criminalConvictionDesc}}
          </div>

          <div class="col-xs-12 col-md-3 mb-2">
            <label for="Advice">Description</label>
          </div>
          <div class="col-xs-12 col-md-9 mb-2">
            {{case.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
