<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Contact book <span
    class="glyphicon glyphicon-chevron-right mx-3"></span>{{title | titlecase}}</h1>
<div class="row">
<div class="col-md-12">
    <div class="widget">
        <div class="widget-body">
            <div class="row">
                <div class="col-md-12" id="pg-nav">
                    <ul class="list-inline">
                        <li>
                            <a class="btn" [routerLink]="['../..']">
                                <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                        </li>
                        <li>
                            <a class="btn" [routerLink]="['new-activity']">
                                <span class="glyphicon glyphicon-plus"></span> Add new</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="widget">
        <div class="widget-body">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <form style="background-color: transparent; padding: 0;" id="data_form3" name="data_form3"
                        class="form-horizontal"
                        method="post" accept-charset="UTF-8">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm row-border hover"
                            [ngClass]="{
                              'empty': logBooks && logBooks.length !== 0
                            }"
                            datatable [dtOptions]="dtOptions">
                                <tbody>
                                    <tr *ngFor="let logBook of logBooks">
                                        <td>{{logBook.caseId}}</td>
                                        <td>{{logBook.date | date: 'dd-MM-YYYY'}}</td>
                                        <td>{{logBook.title}}</td>
                                        <td>{{logBook.reference}}</td>
                                        <td>
                                            <ul class="nav">
                                              <li ngbDropdown>
                                                <a ngbDropdownToggle class="nav-link" role="button">
                                                </a>
                                                <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                                    <li ngbDropdownItem>
                                                      <a [routerLink]="['edit', logBook.logBookId]">
                                                        <span class="glyphicon glyphicon-pencil mr-2"></span>
                                                        Edit
                                                      </a>
                                                    </li>
                                                    <li ngbDropdownItem>
                                                      <a (click)="deleteLogBook(logBook.logBookId)">
                                                        <span class="glyphicon glyphicon-remove mr-2"></span>
                                                        Delete
                                                      </a>
                                                    </li>
                                                </ul>
                                                </li>
                                            </ul>
                                          </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>
</div>