<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="pg-title">
        Cases
        <span class="glyphicon glyphicon-chevron-right"></span> CL/1006.00/Sabir
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <form id="data_form2" name="data_form2" class="form-horizontal" style="background-color: transparent; padding: 0" action="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/new-case/" method="post" accept-charset="UTF-8">
                                    <button class="btn btn-sm btn-primary" type="submit">
                    <span class="glyphicon glyphicon-plus"></span> New matter
                  </button>
                                    <input type="hidden" name="inpCASEID" value="1006" />
                                    <input type="hidden" name="inpTYPE" value="0" />
                                </form>
                            </li>
                            <li>
                                <ul class="nav">
                                    <li class="toolbar_dd">
                                        <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/case-details/5-1006-PSQKT/0/#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-th"></i> List of matters
                      <span class="caret"></span
                    ></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/case-details/5-1006-PSQKT/0/"><span class="glyphicon glyphicon-play"></span>
                          <strong>1006.00</strong><br /><small class="muted"
                            >test</small
                          ></a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h5>Rizwan Sabir</h5>
            <p style="margin: 20px 0">
              <strong class="muted"
                >Civil Litigation
                <span class="fa fa-arrow-right"></span> Boundary and neighbour
                disputes <span class="fa fa-arrow-right"></span> test</strong
              >
            </p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
            <span class="badge_cms badge_green" style="margin: 0 0 0 15px"
              >In-Progress</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="dash_blocks dash_green">
              <p><strong>Invoices Raised</strong></p>
              <p class="dash_strong"><span class="fa fa-gbp"></span> 3.00</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="dash_blocks dash_red">
              <p><strong>Invoices Outstanding</strong></p>
              <p class="dash_strong"><span class="fa fa-gbp"></span> 3.00</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="dash_blocks dash_yellow">
              <p><strong>Disbursements Incurred</strong></p>
              <p class="dash_strong"><span class="fa fa-gbp"></span> 0.00</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="dash_blocks dash_blue">
              <p><strong>Disbursements Outstanding</strong></p>
              <p class="dash_strong"><span class="fa fa-gbp"></span> 0.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>