<div *ngIf="(!isClient && !menuItems)" class="h-100 d-flex align-items-center justify-content-center">
    <i class="fa fa-circle-notch fa-spin fa-4x"></i>
  </div>
<ul class="nav" *ngIf="(!isClient && !!menuItems) || !!isClient">
    <li *ngFor="let menuItem of (!isClient ? menuItems : clientMenu)">
        <a [routerLink]="menuItem.url == 'client/portal' && !!client ? [menuItem.url, client] : [menuItem.url]" [ngClass]="{'active': checkActive(menuItem.text == 'Case Activities' ? 'case-activities' : menuItem.url)}">
            <i class="fa fa-{{menuItem.icon}}"></i>
            {{menuItem.text}}
            <span *ngIf="menuItem.badge" class="badge pull-right">{{menuItem?.badge}}</span>
        </a>
    </li>
</ul>
<!-- windowClass modal-left mobi-menu modal left fade -->
<ng-template #MobileMainMenu let-modal>
    <div class="modal-header">
        <h5 class="modal-title" ngbAutoFocus>
            <span class="fa fa-bars mr-2" aria-hidden="true"></span> Menu
        </h5>
        <button type="button" class="close" (click)="modal.close('Close Button')" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="nav menu">
            <li *ngFor="let menuItem of (!isClient ? menuItems : clientMenu);" [ngClass]="{'active': checkActive(menuItem.url)}">
                <a [routerLink]='[menuItem.url]' (click)="modal.close('Close Button')">
                    <i class="fa fa-{{menuItem.icon}} mr-2"></i>
                    {{menuItem.text}}
                    <span *ngIf="menuItem.badge" class="badge">{{menuItem?.badge}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Sign out
            (Dr. Mazhar Ilahi)</a>
    </div>
</ng-template>