<div #forPDF>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h5>Case Details</h5>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <ul class="nav nav-right">
        <li ngbDropdown>
          <a ngbDropdownToggle class="btn-custom"> Actions </a>
          <ul ngbDropdownMenu>
            <li ngbDropdownItem>
              <a (click)="downloadAsPDF()">
                <span class="glyphicon glyphicon-print mr-1"></span>
                Print file cover label
              </a>
            </li>
            <li ngbDropdownItem>
              <a [routerLink]="['edit']">
                <span class="glyphicon glyphicon-pencil mr-1"></span>
                Edit case details
              </a>
            </li>
            <li ngbDropdownItem>
              <a>
                <span class="glyphicon glyphicon-plus mr-1"></span>
                Add case reference
              </a>
            </li>
            <li ngbDropdownItem>
              <a>
                <span class="glyphicon glyphicon-remove mr-1"></span>
                Delete this case
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Start Date</div>
    <div class="col-md-8">
      {{ caseDetails?.startDate | date: "dd-MM-yyyy" }}
      <span class="badge_cms badge_{{caseDetails?.caseStatus == 'closed case' ? 'red' : 'green'}}" style="margin: 0 0 0 15px"
        >{{caseDetails.caseStatus == 'closed case' ? 'Closed' : 'In-Progress'}}</span
      >
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Reference</div>
    <div class="col-md-8">{{ caseDetails?.reference || "N/A" }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Category</div>
    <div class="col-md-8">
      {{ caseCategories?.join(" , ") || "N/A" }}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Description</div>
    <div class="col-md-8">{{ caseDetails?.description || "N/A" }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Supervisor / Caseworker</div>
    <div class="col-md-8">
      {{ caseDetails?.caseSuperVisor || "N/A" }} / {{ caseDetails?.caseWorker }}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Client's Instructions</div>
    <div class="col-md-8">{{ caseDetails?.clientInstructions || "N/A" }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Advice Given</div>
    <div class="col-md-8">{{ caseDetails?.adviseGiven || "N/A" }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Agreed Plan of Action</div>
    <div class="col-md-8">{{ caseDetails?.agreedPlanOfAction || "N/A" }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Chances of Success</div>
    <div class="col-md-8">
      <strong>{{
        caseDetails?.chancesOfSuccess == "0" ? "[NO]" : "[YES]"
      }}</strong>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Weaknesses of case (if any)</div>
    <div class="col-md-8">{{ caseDetails?.weaknessesOfCase || "N/A" }}</div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Confilict of Interest</div>
    <div class="col-md-8">
      {{ caseDetails?.conflictsOfInterest == "0" ? "[NO]" : "[YES]" }}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 strongest">Criminal Conviction</div>
    <div class="col-md-8">
      {{ caseDetails?.criminalConvictionDesc || "N/A" }}
    </div>
  </div>
  <hr />
  <!-- <div class="row">
    <div class="col-md-4 strongest">Notes</div>
    <div class="col-md-8">test</div>
  </div>
  <hr /> -->
  <!-- <div class="row">
    <div class="col-md-4 strongest">Case Outcome</div>
    <div class="col-md-8"><strong></strong></div>
  </div>
  <hr /> -->
  <div class="row">
    <div class="col-md-4 strongest">Last Modified By</div>
    <div class="col-md-8">{{ caseDetails?.lastModifiedBy }}</div>
  </div>
  <!-- <hr />
  <div class="row">
    <div class="col-md-4 strongest">Permission (who can see this case?)</div>
    <div class="col-md-8">Everyone</div>
  </div> -->
</div>
