<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Workflow templates</h1>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a [routerLink]="['new-workflow']" class="btn"><span class="glyphicon glyphicon-plus"></span> Create new
                  template</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <table
          class="table table-striped table-sm row-border hover"
          [ngClass]="{
            'empty': workflows && workflows.length !== 0
          }"
          datatable
          [dtOptions]="dtOptions"
        >
                <tbody>
                  <tr *ngFor="let workflow of workflows">
                    <td>
                      <a
                        [routerLink]="['stages', workflow.keyValue]"
                        style="font-size: 15px; border-bottom: 0 none"
                        class="td_link_dark"
                        >{{workflow.displayValue}}
                      </a>
                    </td>
                    <td>
                      <ul class="nav">
                        <li ngbDropdown>
                          <a ngbDropdownToggle class="td_link_dark" style="border-bottom: none;" role="button">
                          </a>
                          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                            <li ngbDropdownItem>
                              <a [routerLink]="['stages', workflow.keyValue]">
                                <span class="glyphicon glyphicon-tasks mr-2"></span>
                                Manage Stages
                              </a>
                            </li>
                              <li ngbDropdownItem>
                                <a [routerLink]="['edit', workflow.keyValue]">
                                  <span class="glyphicon glyphicon-pencil mr-2"></span>
                                  Edit
                                </a>
                              </li>
                              <li ngbDropdownItem>
                                <a (click)="deleteWorkflow(workflow.keyValue)">
                                  <span class="glyphicon glyphicon-remove mr-2"></span>
                                  Delete
                                </a>
                              </li>
                          </ul>
                          </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
          <!-- <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="DataTables_Table_0"
              /></label>
            </div>
            <table
              class="
                table table table-striped
                res_tab_full_asc
                dataTable
                no-footer
              "
              cellspacing="0"
              width="100%"
              id="DataTables_Table_0"
              role="grid"
              aria-describedby="DataTables_Table_0_info"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting_asc"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Title: activate to sort column descending"
                  >
                    Title
                  </th>
                  <th
                    width="50"
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions: activate to sort column ascending"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1">
                    <img
                      src="https://crescent.legalworkspace.co.uk/theme/img/fa-folder-close.png"
                      alt=""
                    />
                    &nbsp;&nbsp;<a
                      style="font-size: 15px; border-bottom: 0 none"
                      class="td_link_dark"
                      >Immigration Case</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a><span class="fa fa-sitemap"></span> Manage
                              stages</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-pencil"></span>
                              Rename template</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this workflow template and related tasks?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete template</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="even">
                  <td class="sorting_1">
                    <img
                      src="https://crescent.legalworkspace.co.uk/theme/img/fa-folder-close.png"
                      alt=""
                    />
                    &nbsp;&nbsp;<a
                      style="font-size: 15px; border-bottom: 0 none"
                      class="td_link_dark"
                      >test</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a><span class="fa fa-sitemap"></span> Manage
                              stages</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-pencil"></span>
                              Rename template</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this workflow template and related tasks?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete template</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="DataTables_Table_0_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 2 of 2 entries
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>