<div class="row">
    <div class="col-md-12" id="pg-title">User management</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a class="btn"><span class="glyphicon glyphicon-plus"></span> Add user</a
                >
              </li>
              <li>
                <a
                  class="btn"
                  ><span class="glyphicon glyphicon-pencil"></span> Manage
                  groups</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-warning" role="alert">
  <h4>
    <strong
      >1 users in your 1 users plan. If you need more users then please upgrade
      your plan.</strong
    >
  </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="DataTables_Table_0"
              /></label>
            </div>
            <table
              class="
                table table table-striped
                res_tab_full_asc
                dataTable
                no-footer
              "
              cellspacing="0"
              width="100%"
              id="DataTables_Table_0"
              role="grid"
              aria-describedby="DataTables_Table_0_info"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting_asc"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Name: activate to sort column descending"
                  >
                    Name
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Email: activate to sort column ascending"
                  >
                    Email
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Location: activate to sort column ascending"
                  >
                    Location
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Group: activate to sort column ascending"
                  >
                    Group
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Job title: activate to sort column ascending"
                  >
                    Job title
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Type: activate to sort column ascending"
                  >
                    Type
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Status: activate to sort column ascending"
                  >
                    Status
                  </th>
                  <th
                    width="50"
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions: activate to sort column ascending"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1">
                    <a
                      class="td_link_dark"
                      >Dr. Mazhar Ilahi</a
                    >
                  </td>
                  <td>mazharilahi@hotmail.com</td>
                  <td>Main Office</td>
                  <td>System Administrator</td>
                  <td>Barrister</td>
                  <td>
                    <span class="glyphicon glyphicon-star"></span> Administrator
                  </td>
                  <td><span class="glyphicon glyphicon-ok"></span> Enabled</td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="fa fa-google-wallet"></span>
                              Signature</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="DataTables_Table_0_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 1 of 1 entries
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>