<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5>Case Status</h5>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <ul class="nav nav-right">
      <li ngbDropdown>
          <a ngbDropdownToggle class="btn-custom">
              Actions
          </a>
          <ul ngbDropdownMenu>
            <li ngbDropdownItem>
              <a (click)="changeStatus('cancelled')">
                <span class="glyphicon glyphicon-remove-circle mr-1"></span>
                Change status to cancelled
              </a>
            </li>
            <li ngbDropdownItem>
              <a (click)="changeStatus('pending')">
                <span class="glyphicon glyphicon-hourglass mr-1"></span>
                Change status to pending
              </a>
            </li>
            <li ngbDropdownItem>
              <a (click)="changeStatus('completed')">
                <span class="glyphicon glyphicon-check mr-1"></span>
                Change status to completed
              </a>
            </li>
            
          </ul>
        </li>
  </ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 toolbar">
    <ul class="list-inline"></ul>
  </div>
</div>
<hr />
<div class="profile">
  <div class="row">
    <div class="col-md-4 strongest">Start Date</div>
    <div class="col-md-8">{{currentDate}}</div>
  </div>
  <div class="row">
    <div class="col-md-4 strongest">Current Status</div>
    <div class="col-md-8">{{caseStatus | titlecase}}</div>
  </div>
</div>
