<!-- TAB ATTENDANCE NOTES [START] -->

<div class="r-tabs-accordion-title r-tabs-state-default">
    <a class="r-tabs-anchor">Attendance Notes</a
  >
</div>
<div
  id="mid-attd"
  class="r-tabs-panel r-tabs-state-default"
  style="display: none"
>
  <div class="col-sm-12 col-md-12">
    <div class="profilex">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h5>Attendance Notes</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 toolbar">
          <ul class="list-inline">
            <li>
              <a
                class="btn btn_toolbar"
                ><span class="glyphicon glyphicon-plus"></span> New attendance
                note</a
              >
            </li>
          </ul>
        </div>
      </div>
      <hr />
      No attendance note found related to this case.
    </div>
    <div class="clearme"></div>
  </div>
  <div class="clearme"></div>
</div>