<!-- TAB TIME KEEPING [START] -->

<div class="r-tabs-accordion-title r-tabs-state-default">
    <a class="r-tabs-anchor">Time Keeping</a
  >
</div>
<div
  id="mid-time"
  class="r-tabs-panel r-tabs-state-default"
  style="display: none"
>
  <div class="col-sm-12 col-md-12">
    <div class="profilex">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h5>Time Keeping</h5>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <ul class="nav nav-right">
            <li class="toolbar_dd">
              <a
                class="dropdown-toggle btn btn-primary"
                data-toggle="dropdown"
                aria-expanded="false"
                >Actions <span class="caret"></span
              ></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a><span class="glyphicon glyphicon-plus"></span> Add time /
                    expense</a
                  >
                </li>
                <li>
                  <a
                    ><span class="glyphicon glyphicon-plus"></span> Create new
                    bill</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h5>Bills Issued</h5>
        </div>
      </div>
      <hr />
      <div class="table-responsive" style="padding-bottom: 100px">
        <div
          id="DataTables_Table_2_wrapper"
          class="dataTables_wrapper no-footer"
        >
          <table
            class="table table-striped res_tab_fixed_asc dataTable no-footer"
            cellspacing="0"
            width="100%"
            id="DataTables_Table_2"
            role="grid"
          >
            <thead>
              <tr role="row">
                <th class="sorting_disabled" rowspan="1" colspan="1">Date</th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                  Bill referece
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1">Amount</th>
                <th width="40" class="sorting_disabled" rowspan="1" colspan="1">
                  Invoice
                </th>
                <th width="50" class="sorting_disabled" rowspan="1" colspan="1">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr role="row" class="odd">
                <td>30-09-2021</td>
                <td>BL-00004</td>
                <td>£0.00</td>
                <td class="text-center"></td>
                <td>
                  <ul class="nav nav-right">
                    <li>
                      <a
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        ><span
                          class="glyphicon glyphicon-triangle-bottom"
                        ></span
                      ></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a><span class="glyphicon glyphicon-pencil"></span>
                            Manage bill items</a
                          >
                        </li>
                        <li>
                          <a
                            target="_blank"
                            ><span class="glyphicon glyphicon-print"></span>
                            Print bill (PDF)</a
                          >
                        </li>
                        <li>
                          <a
                            target="_blank"
                            ><span class="glyphicon glyphicon-print"></span>
                            Print Activities</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearme"></div>
  </div>
  <div class="clearme"></div>
</div>