<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Journal transaction detail </h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12" id="pg-nav">
            <ul class="list-inline">
              <li>
                <a [routerLink]="['/settings/journal-voucher']" class="btn">
                  <span class="glyphicon glyphicon-arrow-left"></span> Back</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <table
          class="table table-striped table-sm row-border hover"
          [ngClass]="{
            'empty': journalDetailById && journalDetailById.length !== 0
          }"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
        >
                <tbody>
                  <tr *ngFor="let jouranalDetail of journalVoucerDetail">
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.generalLedgerHead}}</a
                      >
                    </td>
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.mainClassHead}}</a
                      >
                    </td>
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.subClassHead}}</a
                      >
                    </td>
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.clientName}}</a
                      >
                    </td>
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.narration}}</a
                      >
                    </td>
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.debit}}</a
                      >
                    </td>
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.credit}}</a
                      >
                    </td>
                    <td>
                      <a
                        
                        style="font-size: 15px; border-bottom: 0 none"
                        
                        >{{jouranalDetail.caseId}}</a
                      >
                    </td>
                    <!-- <td>
                      <ul class="nav">
                        <li ngbDropdown>
                          <a ngbDropdownToggle  style="border-bottom: none;" role="button">
                          </a>
                          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                              <li ngbDropdownItem>
                                <a>
                                  <span class="glyphicon glyphicon-pencil mr-2"></span>
                                  Edit
                                </a>
                              </li>
                              <li ngbDropdownItem>
                                <a (click)="deleteCaseSubCategory(jouranalDetail.keyValue)">
                                  <span class="glyphicon glyphicon-remove mr-2"></span>
                                  Delete
                                </a>
                              </li>
                          </ul>
                          </li>
                      </ul>
                    </td> -->
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>
