<h1
  id="pg-title"
  class="row align-items-center justify-content-center justify-content-md-start"
>
  Consultations
</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12" id="pg-nav">
            <ul class="list-inline">
              <li>
                <a class="btn" [routerLink]="['new-consultation']">
                  <span class="glyphicon glyphicon-plus"></span> Start new
                  consultation
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>Custom search</h5>
          </div>
        </div>
        <hr />
        <form
          id="search_form"
          name="search_form"
          class="form-horizontal"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <label>Select option</label>
              <select class="w-100 selectpicker form-control" name="searchMethod" [(ngModel)]="searchMethod">
                <option value="0">By Search</option>
                <option value="1">Date Range</option>
              </select>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
              <div *ngIf="searchMethod == '0'">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label>Enter search terms</label>
                    <input
                      type="text"
                      maxlength="200"
                      class="form-control txt"
                      name="inpNUM"
                      [(ngModel)]="search"
                      name="search"
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="searchMethod == '1'">
                <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <label>Start date:</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        name="startDate"
                        [(ngModel)]="startDate"
                        placeholder="dd-mm-yyyy"
                        name="dp"
                        ngbDatepicker
                        #t="ngbDatepicker"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-secondary fa fa-calendar-o"
                          (click)="t.toggle()"
                          type="button"
                        ></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <label>End date:</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        name="endDate"
                        [(ngModel)]="endDate"
                        placeholder="dd-mm-yyyy"
                        name="dp"
                        ngbDatepicker
                        #d="ngbDatepicker"
                      />
                      <div class="input-group-append">
                        <button
                          class="btn btn-secondary fa fa-calendar-o"
                          (click)="d.toggle()"
                          type="button"
                        ></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <label>&nbsp;</label>
              <button style="margin-bottom: 15px" class="btn" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>Search results</h5>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="table-responsive">
              <table
                class="table table-striped table-sm row-border hover"
                [ngClass]="{
                  empty: consultations && consultations.length !== 0
                }"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
              >
                <tbody>
            <tr *ngFor="let consultation of consultations" >
               <td>{{consultation.consultationDate | date: 'dd-MM-YYYY'}}</td> 
               <td>{{consultation.clientName}}</td> 
               <td>{{consultation.categories[0]}}</td> 
               <td>{{consultation.email}}</td> 
               <td>{{consultation.address}}</td> 
              <td>
                <ul class="nav">
                  <li ngbDropdown>
                    <a ngbDropdownToggle class="nav-link" role="button">
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                      <li ngbDropdownItem>
                        <a (click)="convertToCase(consultation.consultationId)">
                          <span class="glyphicon glyphicon-eye-open mr-2"></span>
                          Start new case
                        </a>
                      </li>
                      <li ngbDropdownItem>
                        <a target="_blank">
                          <span class="glyphicon glyphicon-eye-open mr-2"></span>
                          View / Download as PDF
                        </a>
                      </li>
                        <li ngbDropdownItem>
                          <a [routerLink]="['edit', consultation.consultationId]">
                            <span class="glyphicon glyphicon-pencil mr-2"></span>
                            Edit
                          </a>
                        </li>
                        <li ngbDropdownItem>
                          <a (click)="deleteConsultation(consultation.consultationId)">
                            <span class="glyphicon glyphicon-remove mr-2"></span>
                            Delete
                          </a>
                        </li>
                    </ul>
                    </li>
                </ul>
              </td>
            </tr>
          </tbody>
              </table>
              <!-- <div
                id="DataTables_Table_0_wrapper"
                class="dataTables_wrapper no-footer"
              >
                <div
                  id="DataTables_Table_0_wrapper"
                  class="dataTables_wrapper no-footer"
                >
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label
                      >Search:<input
                        type="search"
                        class="lw-ml-10 lw-mb-10"
                        placeholder=""
                        aria-controls="DataTables_Table_0"
                    /></label>
                  </div>
                  <table
                    class="
                      table table table-striped
                      res_tab_full_desc
                      dataTable
                      no-footer
                    "
                    cellspacing="0"
                    width="100%"
                    id="DataTables_Table_0"
                    role="grid"
                    aria-describedby="DataTables_Table_0_info"
                  >
                    <thead>
                      <tr role="row">
                        <th
                          class="sorting_desc"
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                          aria-label="Date &amp;amp; Time: activate to sort column ascending"
                          aria-sort="descending"
                        >
                          Date &amp; Time
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                          aria-label="Client Name: activate to sort column ascending"
                        >
                          Client Name
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                          aria-label="Consultant: activate to sort column ascending"
                        >
                          Consultant
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                          aria-label="Category: activate to sort column ascending"
                        >
                          Category
                        </th>
                        <th
                          width="50"
                          class="sorting"
                          tabindex="0"
                          aria-controls="DataTables_Table_0"
                          rowspan="1"
                          colspan="1"
                          aria-label="Actions: activate to sort column ascending"
                        >
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" class="odd">
                        <td class="sorting_1">
                          <span class="hideme">20210930174800</span> 30 Sep 2021
                          @ 17:48
                        </td>
                        <td>
                          <a
                            class="td_link_dark"
                            target="_blank"
                          >
                            test
                          </a>
                        </td>
                        <td>Dr. Mazhar Ilahi</td>
                        <td>
                          Employment Law
                          <span class="glyphicon glyphicon-arrow-right"></span>
                          Flexible Working
                        </td>

                        <td>
                          <ul class="nav">
                            <li ngbDropdown>
                              <a ngbDropdownToggle class="nav-link" role="button">
                              </a>
                              <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                  <li ngbDropdownItem>
                                    <a>
                                      <span class="glyphicon glyphicon-play"></span>
                                      Start New Case
                                    </a>
                                  </li>
                                  <li ngbDropdownItem>
                                    <a
                                      target="_blank"
                                    >
                                      <span class="glyphicon glyphicon-save"></span>
                                      Download / Print (PDF)
                                    </a>
                                  </li>
                                  <li ngbDropdownItem>
                                    <a>
                                      <span class="glyphicon glyphicon-pencil"></span>
                                      Edit
                                    </a>
                                  </li>
                                  <li ngbDropdownItem>
                                    <a>
                                      <span class="glyphicon glyphicon-remove"></span>
                                      Delete
                                    </a>
                                  </li>
                              </ul>
                              </li>
                          </ul>
                        </td>
                      </tr>
                      <tr role="row" class="even">
                        <td class="sorting_1">
                          <span class="hideme">20210802150800</span> 02 Aug 2021
                          @ 15:08
                        </td>
                        <td>
                          <a
                            class="td_link_dark"
                            target="_blank"
                          >
                            John smith
                          </a>
                        </td>
                        <td>Dr. Mazhar Ilahi</td>
                        <td>
                          Civil Litigation
                          <span class="glyphicon glyphicon-arrow-right"></span>
                          Boundary and neighbour disputes
                        </td>

                        <td>
                          <ul class="nav">
                            <li ngbDropdown>
                              <a ngbDropdownToggle class="nav-link" role="button">
                              </a>
                              <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                  <li ngbDropdownItem>
                                    <a>
                                      <span class="glyphicon glyphicon-play"></span>
                                      Start New Case
                                    </a>
                                  </li>
                                  <li ngbDropdownItem>
                                    <a
                                      target="_blank"
                                    >
                                      <span class="glyphicon glyphicon-save"></span>
                                      Download / Print (PDF)
                                    </a>
                                  </li>
                                  <li ngbDropdownItem>
                                    <a>
                                      <span class="glyphicon glyphicon-pencil"></span>
                                      Edit
                                    </a>
                                  </li>
                                  <li ngbDropdownItem>
                                    <a>
                                      <span class="glyphicon glyphicon-remove"></span>
                                      Delete
                                    </a>
                                  </li>
                              </ul>
                              </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div
                    class="dataTables_info"
                    id="DataTables_Table_0_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing 1 to 2 of 2 entries
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
