<!-- TAB DETAILS [START] -->

<div class="r-tabs-accordion-title r-tabs-state-active">
    <a class="r-tabs-anchor">Case Details</a
  >
</div>
<div
  id="mid-details"
  class="r-tabs-panel r-tabs-state-active"
  style="display: block"
>
  <div class="col-sm-12 col-md-12">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h5>Case Details</h5>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <ul class="nav nav-right">
          <li class="toolbar_dd">
            <a
              class="dropdown-toggle btn btn-primary"
              data-toggle="dropdown"
              aria-expanded="false"
              >Actions <span class="caret"></span
            ></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a target="_blank"><span class="glyphicon glyphicon-print"></span> Print file
                  cover label</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  ><span class="glyphicon glyphicon-print"></span> Print case
                  details</a
                >
              </li>
              <li>
                <a
                  ><span class="glyphicon glyphicon-pencil"></span> Edit case
                  details</a
                >
              </li>
              <li class="hideme">
                <a
                  ><span class="glyphicon glyphicon-plus"></span> Add case
                  reference</a
                >
              </li>
              <li>
                <a
                  onclick="return confirm('Are you sure you want to remove this case (CL/1006.00/Sabir) permanently?');"
                  ><span class="glyphicon glyphicon-remove"></span> Delete this
                  case</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="profile">
      <div class="row">
        <div class="col-md-4 strongest">Start Date</div>
        <div class="col-md-8">
          30-09-2021
          <span class="badge_cms badge_green" style="margin: 0 0 0 15px"
            >In-Progress</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Reference</div>
        <div class="col-md-8">CL/1006.00/Sabir</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Category</div>
        <div class="col-md-8">
          Civil Litigation <span class="fa fa-arrow-right"></span> Boundary and
          neighbour disputes
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Description</div>
        <div class="col-md-8">test</div>
      </div>
      <div class="row hideme">
        <div class="col-md-4 strongest">Level of Work</div>
        <div class="col-md-8">N/A</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Supervisor / Caseworker</div>
        <div class="col-md-8">Dr. Mazhar Ilahi / Dr. Mazhar Ilahi</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Client's Instructions</div>
        <div class="col-md-8">test</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Advice Given</div>
        <div class="col-md-8">tset</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Agreed Plan of Action</div>
        <div class="col-md-8">test</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Chances of Success</div>
        <div class="col-md-8">Good (60% - 80%)</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Weaknesses of case (if any)</div>
        <div class="col-md-8">test</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Confilict of Intrest</div>
        <div class="col-md-8">test</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Criminal Conviction</div>
        <div class="col-md-8"><strong>[NO]</strong> test</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Notes</div>
        <div class="col-md-8">test</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Case Outcome</div>
        <div class="col-md-8"><strong></strong></div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Last Modified By</div>
        <div class="col-md-8">Dr. Mazhar Ilahi on 30-09-2021 16:14:40</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">
          Permission (who can see this case?)
        </div>
        <div class="col-md-8">Everyone</div>
      </div>

      <div class="clearme"></div>
      <div class="clearme"></div>
    </div>
  </div>
  <div class="clearme"></div>
</div>