<h1
  id="pg-title"
  class="row align-items-center justify-content-center justify-content-md-start"
>
  Groups management<span class="glyphicon glyphicon-chevron-right mx-3"></span
  >{{edit ? 'Edit' :'Add new'}} group
</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div id="pg-nav" class="col-md-12 py-2">
            <ul class="list-inline">
              <li ngbDropdown class="mt-0">
                <a [routerLink]="[!!edit ? '../..' : '..']" class="btn">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  Back
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="widget">
  <div class="widget-body">
    <form [formGroup]="newGroupForm">
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Group Title</label>
        </div>
        <div class="col-md-8">
          <input
          type="text"
          class="form-control"
          formControlName="groupTitle"
          />
          <small class="text-muted">Enter group title.</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Can Manage Case</label>
        </div>
        <div class="col-md-8">
          <lw-select
            [options]="[{ statusId: '1', statusTitle: 'Yes' }]"
            bindValue="statusId"
            bindLabel="statusTitle"
            firstText="No"
            [notAddValue]="true"
            [notEditValue]="true"
            controlName="canManageCase"
          >
          </lw-select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Can Manage Activities</label>
        </div>
        <div class="col-md-8">
          <lw-select
            [options]="[{ statusId: '1', statusTitle: 'Yes' }]"
            bindValue="statusId"
            bindLabel="statusTitle"
            firstText="No"
            [notAddValue]="true"
            [notEditValue]="true"
            controlName="canManageActivities"
          >
          </lw-select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Can Manage Case-categories</label>
        </div>
        <div class="col-md-8">
          <lw-select
            [options]="[{ statusId: '1', statusTitle: 'Yes' }]"
            bindValue="statusId"
            bindLabel="statusTitle"
            firstText="No"
            [notAddValue]="true"
            [notEditValue]="true"
            controlName="canManageCaseCategories"
          >
          </lw-select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Can Manage Users</label>
        </div>
        <div class="col-md-8">
          <lw-select
            [options]="[{ statusId: '1', statusTitle: 'Yes' }]"
            bindValue="statusId"
            bindLabel="statusTitle"
            firstText="No"
            [notAddValue]="true"
            [notEditValue]="true"
            controlName="canManageUsers"
          >
          </lw-select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Can Manage Peshis</label>
        </div>
        <div class="col-md-8">
          <lw-select
            [options]="[{ statusId: '1', statusTitle: 'Yes' }]"
            bindValue="statusId"
            bindLabel="statusTitle"
            firstText="No"
            [notAddValue]="true"
            [notEditValue]="true"
            controlName="canManagePeshi"
          >
          </lw-select>
        </div>
      </div>


      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="submitForm()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
