<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Log book</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12" id="pg-nav">
            <ul class="list-inline">
              <li>
                <a class="btn" [routerLink]="['add-folder']"
                  ><span class="glyphicon glyphicon-plus"></span> Add folder</a
                >
              </li>
              <li>
                <a class="btn" [routerLink]="['/cases']"
                  ><span class="glyphicon glyphicon-user"></span> Clients &amp;
                  cases</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <table
          class="table table-striped table-sm row-border hover"
          [ngClass]="{
            'empty': logBookFolders && logBookFolders.length !== 0
          }"
          datatable
          [dtOptions]="dtOptions"
        >
                <tbody>
                  <tr *ngFor="let logBookFolder of logBookFolders">
                    <td>
                      <img
                        src="assets/img/fa-folder-close.png"
                        class="mr-3"
                      />
                      <a
                        [routerLink]="['folder', logBookFolder.logBookFolderId]"
                        style="font-size: 15px; border-bottom: 0 none"
                        class="td_link_dark"
                        >{{logBookFolder.title}}</a
                      >
                    </td>
                    <td>
                      <ul class="nav">
                        <li ngbDropdown>
                          <a ngbDropdownToggle class="td_link_dark" style="border-bottom: none;" role="button">
                          </a>
                          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                              <li ngbDropdownItem>
                                  <a [routerLink]="['folder', logBookFolder.logBookFolderId]">
                                      <span class="glyphicon glyphicon-eye-open mr-2"></span>
                                      View logs
                                  </a>
                              </li>
                              <li ngbDropdownItem>
                                <a [routerLink]="['edit', logBookFolder.logBookFolderId]">
                                  <span class="glyphicon glyphicon-pencil mr-2"></span>
                                  Rename folder
                                </a>
                              </li>
                              <li ngbDropdownItem>
                                <a (click)="deleteLogBookFolder(logBookFolder.logBookFolderId)">
                                  <span class="glyphicon glyphicon-remove mr-2"></span>
                                  Delete
                                </a>
                              </li>
                          </ul>
                          </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
      </div>
    </div>
  </div>
</div>
