<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Log book</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12" id="pg-nav">
            <ul class="list-inline">
              <li>
                <a class="btn" [routerLink]="['add-folder']"
                  ><span class="glyphicon glyphicon-plus"></span> Add folder</a
                >
              </li>
              <li>
                <a class="btn" [routerLink]="['/cases']"
                  ><span class="glyphicon glyphicon-user"></span> Clients &amp;
                  cases</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div
              id="DataTables_Table_0_wrapper"
              class="dataTables_wrapper no-footer"
            >
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label
                  >Search:<input
                    type="search"
                    class="lw-ml-10 lw-mb-10"
                    placeholder=""
                    aria-controls="DataTables_Table_0"
                /></label>
              </div>
              <table
                class="
                  table table table-striped
                  res_tab_full_asc
                  dataTable
                  no-footer
                "
                cellspacing="0"
                width="100%"
                id="DataTables_Table_0"
                role="grid"
                aria-describedby="DataTables_Table_0_info"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="sorting_asc"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Name: activate to sort column descending"
                      aria-sort="ascending"
                    >
                      Name
                    </th>
                    <th
                      width="50"
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Actions: activate to sort column ascending"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <td class="sorting_1">
                      <img
                        src="assets/img/fa-folder-close.png"
                        class="mr-3"
                      />
                      <a
                        [routerLink]="['folder/post-(incoming)']"
                        style="font-size: 15px; border-bottom: 0 none"
                        class="td_link_dark"
                        >Post (Incoming)</a
                      >
                    </td>
                    <td>
                      <ul class="nav">
                        <li ngbDropdown>
                          <a ngbDropdownToggle class="td_link_dark" style="border-bottom: none;" role="button">
                          </a>
                          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                              <li ngbDropdownItem>
                                  <a>
                                      <span class="glyphicon glyphicon-eye-open mr-2"></span>
                                      View activities
                                  </a>
                              </li>
                              <li ngbDropdownItem>
                                <a>
                                  <span class="glyphicon glyphicon-pencil mr-2"></span>
                                  Rename folder
                                </a>
                              </li>
                              <li ngbDropdownItem>
                                <a>
                                  <span class="glyphicon glyphicon-remove mr-2"></span>
                                  Delete
                                </a>
                              </li>
                          </ul>
                          </li>
                      </ul>
                    </td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="sorting_1">
                      <img
                        src="assets/img/fa-folder-close.png"
                        class="mr-3"
                      />
                      <a
                        [routerLink]="['folder/post-(outgoing)']"
                        style="font-size: 15px; border-bottom: 0 none"
                        class="td_link_dark"
                        >Post (Outgoing)</a
                      >
                    </td>
                    <td>
                      <ul class="nav">
                        <li ngbDropdown>
                          <a ngbDropdownToggle class="td_link_dark" style="border-bottom: none;" role="button">
                          </a>
                          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                              <li ngbDropdownItem>
                                  <a>
                                      <span class="glyphicon glyphicon-eye-open mr-2"></span>
                                      View activities
                                  </a>
                              </li>
                              <li ngbDropdownItem>
                                <a>
                                  <span class="glyphicon glyphicon-pencil mr-2"></span>
                                  Rename folder
                                </a>
                              </li>
                              <li ngbDropdownItem>
                                <a>
                                  <span class="glyphicon glyphicon-remove mr-2"></span>
                                  Delete
                                </a>
                              </li>
                          </ul>
                          </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="dataTables_info"
                id="DataTables_Table_0_info"
                role="status"
                aria-live="polite"
              >
                Showing 1 to 2 of 2 entries
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
