<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">General Transaction</h1>
<div class="row">
  <div class="col-md-12">

    <div class="widget">
      <form [formGroup]="empForm" >
      <div class="widget-body">

        <div class="row">

          <div class="col-md-4">
              <label>Main Class</label>
          </div>
          <div class="col-md-8">
              <select class="w-100 selectpicker form-control" (change)="onChange($event.target, 'subclass')" formControlName="mainClass"
                  >
                  <option >Please Select</option>
                  <option [value]="main.keyValue" *ngFor="let main of mainClass">{{main.displayValue}}</option>
              </select>
              <small class="text-muted">Select an appropriate option.</small>
          </div>
      </div>
        <div class="row">
          <div class="col-md-4">
              <label>Sub Class</label>
          </div>
          <div class="col-md-8">
              <select class="w-100 selectpicker form-control" (change)="onChange($event.target, 'generalLedger')" formControlName="subClass"
                  >
                  <option value="0">Please Select</option>
                  <option [value]="sub.keyValue" *ngFor="let sub of subClass">{{sub.displayValue}}</option>
              </select>
              <small class="text-muted">Select an appropriate option.</small>
          </div>
      </div>
        <div class="row">
          <div class="col-md-4">
              <label>General Ledger</label>
          </div>
          <div class="col-md-8">
              <select class="w-100 selectpicker form-control" formControlName="generalLedger"
                  >
                  <option value="0">Please Select</option>
                  <option [value]="general.keyValue" *ngFor="let general of generalLedger"> {{general.displayValue}}</option>
              </select>
              <small class="text-muted">Select an appropriate option.</small>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <label>Cases</label>
        </div>
        <div class="col-md-8">
            <select class="w-100 selectpicker form-control" formControlName="cases"
                >
                <option value="0">Please Select</option>
                <option [value]="case.keyValue" *ngFor="let case of cases">{{case.dispalyValue}}</option>
            </select>
            <small class="text-muted">Select an appropriate option.</small>
        </div>
    </div>

    <div class="row">
      <div class="col-md-4">
          <label>Clients</label>
      </div>
      <div class="col-md-8">
          <select class="w-100 selectpicker form-control" formControlName="clients"
              >
              <option value="0">Please Select</option>
              <option *ngFor="let client of clients">clients</option>
          </select>
          <small class="text-muted">Select an appropriate option.</small>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="inpNAME"> credit</label>
    </div>
    <div class="col-md-8">
      <input
        type="text"
        maxlength="50"
        class="form-control"
        formControlName="credit"
      />
      <!-- <small class="text-muted">Example: Client litigation</small> -->
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <label for="inpNAME"> Debit</label>
    </div>
    <div class="col-md-8">
      <input
        type="text"
        maxlength="50"
        class="form-control"
        formControlName="debit"
      />
      <!-- <small class="text-muted">Example: Client litigation</small> -->
    </div>
  </div>
  <br>
</div>
</form>
<br>
<div class="row justify-content-end">
  <div class="col-auto">
    <button
      style="margin-bottom: 15px"
      class="btn btn-primary"
      (click)="submitForm()"
    >
      <span class="glyphicon glyphicon-ok"></span> Submit
    </button>
  </div>
    </div>
</div>
</div>
<div class="col-md-12">
<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12">
            <h5>Debit </h5>
          </div>
        </div>
        <hr />
        <table class="table " >
          <thead>
            <tr>
              <th>Main Class</th>
              <th>Sub Class</th>
              <th>General Ledger</th>
              <th>Cases</th>
              <th>Clients</th>
            </tr>
          </thead>
          <tbody>
            <tr role="row" *ngFor="let debit of debits">
              <td class="sorting_1">
                {{debit.dispalyValue}}

              </td>
              <td>
                {{debit.dispalyValue}}

              </td>
              <td>
                {{debit.dispalyValue}}


              </td>
              <td>
                <!-- {{case.matterDescription}} -->
                Matter

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12">
            <h5>Credit </h5>
          </div>
        </div>
        <hr />
        <table class="table " >
          <thead>
            <tr>
              <th>Main Class</th>
              <th>Sub Class</th>
              <th>General Ledger</th>
              <th>Cases</th>
              <th>Clients</th>
            </tr>
          </thead>
          <tbody>
            <tr role="row" *ngFor="let case of credits">
              <td class="sorting_1">
                <!-- {{case.date | date: 'MM-dd-yyyy'}} -->
                Date
              </td>
              <td>
                <!-- <a class="td_link" [routerLink]="['case-details/' + case.caseRef]">{{ case.caseRef }}</a> -->
                Case ref
              </td>
              <td>
                <!-- {{case.clientName}} -->
                Client Name

              </td>
              <td>
                <!-- {{case.matterDescription}} -->
                Matter

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <button
          style="margin-bottom: 15px"
          class="btn btn-primary"
          (click)="submitForm()"
        >
          <span class="glyphicon glyphicon-ok"></span> Submit
        </button>
      </div>
  </div>
</div>
</div>

</div>

