<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">VAT rates</h1>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a class="btn"><span class="glyphicon glyphicon-plus"></span> add new</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="DataTables_Table_0"
              /></label>
            </div>
            <table
              class="
                table table table-striped
                res_tab_full_desc
                dataTable
                no-footer
              "
              cellspacing="0"
              width="100%"
              id="DataTables_Table_0"
              role="grid"
              aria-describedby="DataTables_Table_0_info"
            >
              <thead>
                <tr role="row">
                  <th
                    width="65"
                    class="sorting_desc"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-sort="descending"
                    aria-label="Rate: activate to sort column ascending"
                  >
                    Rate
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Title: activate to sort column ascending"
                  >
                    Title
                  </th>
                  <th
                    width="50"
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions: activate to sort column ascending"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1">20.00%</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >20% (VAT on Income - Standard)</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this record?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="even">
                  <td class="sorting_1">0.00%</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >0% (No VAT - Zero Rate)</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this record?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="DataTables_Table_0_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 2 of 2 entries
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>