<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Office locations</h1>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a [routerLink]="['new-office-location']" class="btn"><span class="glyphicon glyphicon-plus"></span> Add new</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h5>Office Locations</h5>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 toolbar">
            <ul class="list-inline"></ul>
          </div>
        </div>
        <hr />

        <div class="table-responsive">
          <table
          class="table table-striped table-sm row-border hover"
          [ngClass]="{'empty': locations && locations.length !== 0}"
          datatable
          [dtOptions]="dtOptions"
        >
          <tbody>
            <tr *ngFor="let location of locations" >
              <td>
                <a class="td_link_dark">{{location.title}}</a>
              </td>
            <td>{{location.phone}}</td>
            <td>{{location.fax}}</td>
            <td>{{location.email}}</td>
              <td>
                <ul class="nav">
                  <li ngbDropdown>
                    <a ngbDropdownToggle class="nav-link" role="button">
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <li ngbDropdownItem>
                          <a [routerLink]="['edit', location.locationId]">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Edit
                          </a>
                        </li>
                        <li ngbDropdownItem>
                          <a>
                            <span class="fa fa-google-wallet"></span>
                            Signature
                          </a>
                        </li>
                    </ul>
                    </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>