<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Clients &amp; cases</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12" id="pg-nav">
            <ul class="list-inline d-flex">
              <li>
                <a class="btn" [routerLink]="['/new-case']"><span class="glyphicon glyphicon-plus"></span> Open new
                  case</a>
              </li>
              <li ngbDropdown>
                <a ngbDropdownToggle class="btn btn-primary">
                  <i class="glyphicon glyphicon-th"></i>
                  Show my cases
                </a>
                <ul ngbDropdownMenu>
                  <li ngbDropdownItem>
                    <a [routerLink]="['/cases']"><span class="glyphicon glyphicon-list-alt"></span> My all
                      cases</a>
                  </li>
                  <li ngbDropdownItem>
                    <a [routerLink]="['/cases/active']"><span class="glyphicon glyphicon-list-alt"></span> My
                      active cases</a>
                  </li>
                  <li ngbDropdownItem>
                    <a [routerLink]="['/cases/closed']"><span class="glyphicon glyphicon-list-alt"></span> My
                      closed cases</a>
                  </li>
                </ul>
              </li>
              <!-- <li>
                <a class="btn"><span class="glyphicon glyphicon-search"></span> Search by
                  Matter</a>
              </li>
              <li>
                <a class="btn"><span class="glyphicon glyphicon-search"></span> Search by
                  Caseworker</a>
              </li>
              <li>
                <a class="btn"><span class="glyphicon glyphicon-search"></span> Search by
                  Category</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <form class="form-horizontal" [formGroup]="searchForm"
              accept-charset="UTF-8">
              <p class="page-title">Are you looking for someone?</p>
              <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                  <label for="inpCASEID">Enter Case ID (example: 1425), Client's Name, Phone, Email
                    or Address</label>
                  <input type="text" maxlength="128" class="form-control search-box" formControlName="search" />
                </div>
              </div>
            </form>

            <table class="table table-hover table-bordered table-striped table-ajax" cellspacing="0" width="100%"
              style="margin-bottom: 0">
              <tbody id="case_result">
                <tr>
                  <td>
                    Client information will be listed here. You must enter at
                    least 3 characters.
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MY RECENT CASES -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" [ngClass]="{'empty': Cases && Cases.length !== 0}">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>My recent cases ({{totalCases}} records)</h5>
          </div>
        </div>
        <hr />
        <table class="table table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <tbody>
            <tr role="row" *ngFor="let case of Cases">
              <td class="sorting_1">
                {{case.date | date: 'MM-dd-yyyy'}}
              </td>
              <td>
                <a class="td_link" [routerLink]="['case-details/' + case.caseRef]">{{ case.caseRef }}</a>
              </td>
              <td>{{case.clientName}}</td>
              <td>{{case.matterDescription}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>