<div class="profilex">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <h5>Documents</h5>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <ul class="nav nav-right">
        <li ngbDropdown>
            <a ngbDropdownToggle class="btn-custom">
                Actions
            </a>
            <ul ngbDropdownMenu>
              <li ngbDropdownItem>
                <a>
                  <span class="glyphicon glyphicon-open"></span>
                  Upload document (Single)
                </a>
              </li>
              <li ngbDropdownItem>
                <a>
                  <span class="glyphicon glyphicon-open"></span>
                  Upload documents (Multiple)
                </a>
              </li>
              <li ngbDropdownItem>
                <a>
                  <span class="glyphicon glyphicon-plus"></span>
                  Create new document
                </a>
              </li>
              <li ngbDropdownItem>
                <a>
                  <span class="glyphicon glyphicon-plus"></span>
                  Create new questionnaire
                </a>
              </li>
              <li ngbDropdownItem>
                <a>
                  <span class="glyphicon glyphicon-briefcase"></span>
                  Court bundles
                </a>
              </li>
              <li ngbDropdownItem>
                <a>
                  <span class="glyphicon glyphicon-plus"></span>
                  Create new folder
                </a>
              </li>
              <li ngbDropdownItem>
                <a>
                    <span class="glyphicon glyphicon-share-alt mr-1"></span>
                    Create new bill
                </a>
              </li>
            </ul>
          </li>
    </ul>
    </div>
  </div>
  <hr />

  <table class="table table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <!-- <tbody> -->
     <!-- <tr *ngFor="let group of data">
           <td>{{group.id}}</td>
           <td>{{group.email}}</td>
           <td>{{group.username}}</td>
       </tr>
    </tbody> -->
  </table>
</div>
