<!-- TAB DOCUMENTS [START] -->

<div class="r-tabs-accordion-title r-tabs-state-default">
    <a class="r-tabs-anchor">Documents</a
  >
</div>
<div
  id="mid-documents"
  class="r-tabs-panel r-tabs-state-default"
  style="display: none"
>
  <div class="col-sm-12 col-md-12">
    <div class="profilex">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <h5>Documents</h5>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <ul class="nav nav-right">
            <li class="toolbar_dd">
              <a
                class="dropdown-toggle btn btn-primary"
                data-toggle="dropdown"
                aria-expanded="false"
                >Actions <span class="caret"></span
              ></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a><span class="glyphicon glyphicon-open"></span> Upload
                    document (Single)</a
                  >
                </li>
                <li>
                  <a
                    ><span class="glyphicon glyphicon-open"></span> Upload
                    documents (Multiple)</a
                  >
                </li>
                <li>
                  <a
                    ><span class="glyphicon glyphicon-plus"></span> Create new
                    document</a
                  >
                </li>
                <li>
                  <a
                    ><span class="glyphicon glyphicon-plus"></span> Create new
                    questionnaire</a
                  >
                </li>
                <li class="hideme">
                  <a
                    ><span class="glyphicon glyphicon-briefcase"></span> Court
                    bundles</a
                  >
                </li>
                <hr />
                <li>
                  <a
                    ><span class="glyphicon glyphicon-plus"></span> Create new
                    folder</a
                  >
                </li>
                <hr />
                <li>
                  <a
                    ><span class="glyphicon glyphicon-share-alt"></span>
                    Documents shared by client</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="table-responsive" style="padding-bottom: 135px">
        <div
          id="DataTables_Table_4_wrapper"
          class="dataTables_wrapper no-footer"
        >
          <div id="DataTables_Table_4_filter" class="dataTables_filter">
            <label
              >Search:<input
                type="search"
                class=""
                placeholder=""
                aria-controls="DataTables_Table_4"
            /></label>
          </div>
          <table
            class="table table-striped res_tab_full_desc dataTable no-footer"
            cellspacing="0"
            width="100%"
            id="DataTables_Table_4"
            role="grid"
            aria-describedby="DataTables_Table_4_info"
          >
            <thead>
              <tr role="row">
                <th
                  width="120"
                  class="sorting_desc"
                  tabindex="0"
                  aria-controls="DataTables_Table_4"
                  rowspan="1"
                  colspan="1"
                  aria-sort="descending"
                  aria-label="Last modified: activate to sort column ascending"
                >
                  Last modified
                </th>
                <th
                  width="40"
                  class="sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_4"
                  rowspan="1"
                  colspan="1"
                  aria-label="Type: activate to sort column ascending"
                >
                  Type
                </th>
                <th
                  class="sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_4"
                  rowspan="1"
                  colspan="1"
                  aria-label="Title: activate to sort column ascending"
                >
                  Title
                </th>
                <th
                  width="85"
                  class="sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_4"
                  rowspan="1"
                  colspan="1"
                  aria-label="Size: activate to sort column ascending"
                >
                  Size
                </th>
                <th
                  width="150"
                  class="sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_4"
                  rowspan="1"
                  colspan="1"
                  aria-label="Author: activate to sort column ascending"
                >
                  Author
                </th>
                <th
                  width="85"
                  class="sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_4"
                  rowspan="1"
                  colspan="1"
                  aria-label="File sharing: activate to sort column ascending"
                >
                  File sharing
                </th>
                <th
                  width="50"
                  class="sorting"
                  tabindex="0"
                  aria-controls="DataTables_Table_4"
                  rowspan="1"
                  colspan="1"
                  aria-label="Actions: activate to sort column ascending"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- FOLDER LIST [START] -->

              <!-- DOCUMENTS LIST [START] -->

              <!-- UPLOADED DOCUMENTS LIST [START] -->

              <!-- Questionnaire [START] -->

              <tr role="row" class="odd">
                <td class="sorting_1"></td>
                <td></td>
                <td>
                  <h5>No document found related to this case.</h5>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div
            class="dataTables_info"
            id="DataTables_Table_4_info"
            role="status"
            aria-live="polite"
          >
            Showing 1 to 1 of 1 entries
          </div>
        </div>
      </div>

      <div class="clearme"></div>
    </div>
    <div class="clearme"></div>
  </div>
  <div class="clearme"></div>
</div>