<!-- TAB WORKFLOW [START] -->
<div class="r-tabs-accordion-title r-tabs-state-default">
    <a class="r-tabs-anchor">Workflow</a>
</div>
<div id="mid-workflow" class="r-tabs-panel r-tabs-state-default" style="display: none">
    <div class="col-sm-12 col-md-12">
        <div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h5>Workflow</h5>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 toolbar">
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn_toolbar" onclick="return confirm('Are you sure you want to delete this workflow?');"><span class="glyphicon glyphicon-remove"></span> Delete
                workflow</a
              >
            </li>
          </ul>
        </div>
      </div>
      <hr />

      <h6 class="wf_heading">Application Preparation</h6>
      <h6 class="wf_heading">Collect docs from clients</h6>
    </div>
    <div class="clearme"></div>
  </div>
  <div class="clearme"></div>
</div>