<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Open new case</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12" id="pg-nav">
            <ul class="list-inline d-flex align-items-center">
              <li>
                <a class="btn" [routerLink]="['/cases']"
                  ><span class="glyphicon glyphicon-user"></span> Clients &amp;
                  cases</a
                >
              </li>
              <li ngbDropdown>
                <a ngbDropdownToggle class="btn btn-primary">
                  <i class="glyphicon glyphicon-th"></i>
                  Show my cases
                </a>
                <ul ngbDropdownMenu>
                  <li ngbDropdownItem>
                    <a [routerLink]="['/cases/all']"
                      ><span class="glyphicon glyphicon-list-alt"></span> My all
                      cases</a
                    >
                  </li>
                  <li ngbDropdownItem>
                    <a [routerLink]="['/cases/active']"
                      ><span class="glyphicon glyphicon-list-alt"></span> My
                      active cases</a
                    >
                  </li>
                  <li ngbDropdownItem>
                    <a [routerLink]="['/cases/closed']"
                      ><span class="glyphicon glyphicon-list-alt"></span> My
                      closed cases</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-horizontal" style="min-height: 250px">
              <h5>
                <span class="glyphicon glyphicon-user"></span> New client ?
              </h5>
              <ul class="points">
                <li><strong>STEP 1:</strong> Client's personal information</li>
                <li>
                  <strong>STEP 2:</strong> Case details &amp; plan of action
                </li>
                <li>
                  <strong>STEP 3:</strong> Overall case fee &amp; payment
                  options
                </li>
                <li>
                  <strong>STEP 4:</strong> Sign required documents &amp;
                  declarations
                </li>
              </ul>
              <button
                class="lw-btn danger"
                [routerLink]="['steps/temp']"
              >
                <span class="glyphicon glyphicon-play"></span> Start new temporary case
              </button>
              <button
                class="lw-btn primary mr-3"
                [routerLink]="['steps']"
              >
                <span class="glyphicon glyphicon-play"></span> Start new case
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <form
              class="form-horizontal"
              accept-charset="UTF-8"
              style="min-height: 250px"
            >
              <h5 >
                <span class="glyphicon glyphicon-user"></span> Existing /
                returning client ?
              </h5>
              <label for="inpCASEID"
                >* Enter Case ID
                <small class="text-muted">( Example: 2109 )</small></label
              >
              <input
                type="text"
                maxlength="16"
                class="form-control search-box"
                [(ngModel)]="searchId" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="checkCase($event)"
              />
              <p id="case_result" style="margin: 10px 0">
                {{isValid ? clientName !== "" ? clientName + ' with ID: '+ searchId : '' : 'Please enter a valid Case ID.'}}
              </p>
              <a class="btn btn-primary mt-3" [routerLink]="isValid && clientName !== '' ? ['steps', searchId,'new-matter'] : []" type="submit">
                <span class="glyphicon glyphicon-play"></span> Start new matter
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MY RECENT CASES -->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>My recent cases (25 records)</h5>
          </div>
        </div>
        <hr />

        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div
              id="DataTables_Table_0_wrapper"
              class="dataTables_wrapper no-footer"
            >
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label
                  >Search:<input
                    type="search"
                    class="lw-ml-10 lw-mb-10"
                    placeholder=""
                    aria-controls="DataTables_Table_0"
                /></label>
              </div>
              <table
                class="
                  table table table-striped
                  res_tab_full_desc
                  dataTable
                  no-footer
                "
                cellspacing="0"
                width="100%"
                id="DataTables_Table_0"
                role="grid"
                aria-describedby="DataTables_Table_0_info"
              >
                <thead>
                  <tr role="row">
                    <th
                      class="sorting_desc"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Date: activate to sort column ascending"
                      aria-sort="descending"
                    >
                      Date
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Case ref: activate to sort column ascending"
                    >
                      Case ref
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Client name: activate to sort column ascending"
                    >
                      Client name
                    </th>
                    <th
                      class="sorting"
                      tabindex="0"
                      aria-controls="DataTables_Table_0"
                      rowspan="1"
                      colspan="1"
                      aria-label="Matter description: activate to sort column ascending"
                    >
                      Matter description
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <td class="sorting_1">
                      <span class="hideme">20210930</span> 30-09-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CL/1006.00/Sabir</a
                      >
                    </td>
                    <td>Rizwan Sabir</td>
                    <td>test</td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="sorting_1">
                      <span class="hideme">20210929</span> 29-09-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CL/1005.00/hussain</a
                      >
                    </td>
                    <td>tahir hussain</td>
                    <td>illegal transfer of property</td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="sorting_1">
                      <span class="hideme">20210824</span> 24-08-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CL/1004.00/test</a
                      >
                    </td>
                    <td>abc test</td>
                    <td>abc</td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="sorting_1">
                      <span class="hideme">20210820</span> 20-08-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CON/1003.00/Aslam</a
                      >
                    </td>
                    <td>Raza Aslam</td>
                    <td>Testing</td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="sorting_1">
                      <span class="hideme">20210820</span> 20-08-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CON/1003.01/Aslam</a
                      >
                    </td>
                    <td>Raza Aslam</td>
                    <td>Conflict</td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="sorting_1">
                      <span class="hideme">20210820</span> 20-08-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CRI/1002.00/ahmed</a
                      >
                    </td>
                    <td>ali ahmed</td>
                    <td>abc</td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="sorting_1">
                      <span class="hideme">20210813</span> 13-08-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CRI/1001.00/Mazhar Hussain</a
                      >
                    </td>
                    <td>Muhammad Salman Mazhar Hussain</td>
                    <td>Killed 125,000 People</td>
                  </tr>
                  <tr role="row" class="even">
                    <td class="sorting_1">
                      <span class="hideme">20210806</span> 06-08-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >EMP/1000.01/Company Pvt Ltd</a
                      >
                    </td>
                    <td>Johni Lever</td>
                    <td>
                      complainant was dismissed unfairly without prior o ...
                    </td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class="sorting_1">
                      <span class="hideme">20210804</span> 04-08-2021
                    </td>
                    <td>
                      <a
                        class="td_link"
                        >CL/1000.00/Company Pvt Ltd</a
                      >
                    </td>
                    <td>Johni Lever</td>
                    <td>abc</td>
                  </tr>
                </tbody>
              </table>
            <div
              class="dataTables_info"
              id="DataTables_Table_0_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 9 of 9 entries
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
