<div class="row">
    <div class="col-md-12" id="pg-title">Bank accounts</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a class="btn"><span class="glyphicon glyphicon-plus"></span> Add new</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="DataTables_Table_0"
              /></label>
            </div>
            <table
              class="
                table table table-striped
                res_tab_full_asc
                dataTable
                no-footer
              "
              cellspacing="0"
              width="100%"
              id="DataTables_Table_0"
              role="grid"
              aria-describedby="DataTables_Table_0_info"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting_asc"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Type: activate to sort column descending"
                  >
                    Type
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Account: activate to sort column ascending"
                  >
                    Account
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Sort code: activate to sort column ascending"
                  >
                    Sort code
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Bank: activate to sort column ascending"
                  >
                    Bank
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="A/C holder: activate to sort column ascending"
                  >
                    A/C holder
                  </th>
                  <th
                    width="50"
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions: activate to sort column ascending"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1">Client A/C</td>
                  <td>00123123</td>
                  <td>99-00-99</td>
                  <td>Client Account</td>
                  <td>ABC Law Firm</td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a onclick="return confirm('Are you sure you want to delete this record?');"><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="even">
                  <td class="sorting_1">Office A/C</td>
                  <td>12345600</td>
                  <td>00-11-22</td>
                  <td>Office Account</td>
                  <td>ABC Law Firm</td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a onclick="return confirm('Are you sure you want to delete this record?');"><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="DataTables_Table_0_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 2 of 2 entries
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>