<h1
  id="pg-title"
  class="row align-items-center justify-content-center justify-content-md-start"
>
  User management<span class="glyphicon glyphicon-chevron-right mx-3"></span>{{edit ? 'Edit' :'Add new'}} user
</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div id="pg-nav" class="col-md-12 py-2">
            <ul class="list-inline">
              <li ngbDropdown class="mt-0">
                <a [routerLink]="[!!edit ? '../..' : '..']" class="btn">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  Back
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="widget">
  <div class="widget-body">
    <form [formGroup]="newUserForm">
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Name</label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" formControlName="name" />
          <small class="text-muted">Enter user's name.</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Email</label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" formControlName="email" />
          <small class="text-muted">Enter user's email.</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Password</label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" formControlName="password" />
          <small class="text-muted">Enter user's email.</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Group</label>
        </div>
        <div class="col-md-8">
          <lw-select
            tableName="Group"
            keyColName="groupId"
            displayColName="groupTitle"
            controlName="groupId"
            [notEditValue]="true"
            [notAddValue]="true"
          >
          </lw-select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Location</label>
        </div>
        <div class="col-md-8">
          <lw-select
            tableName="Location"
            keyColName="LocationId"
            displayColName="Title"
            controlName="locationId"
            [notEditValue]="true"
            [notAddValue]="true"
          >
          </lw-select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Job Title</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="200"
            class="form-control"
            formControlName="jobTitle"
          />
          <small class="text-muted">Enter an appropriate Job Title.</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Job Type</label>
        </div>
        <div class="col-md-8">
          <select class="form-control selectpicker" formControlName="type">
            <option value="0">Please Select</option>
            <option>Source</option>
            <option>Owner</option>
            <option>Supervisor</option>
            <option>Lawyer</option>
            <option>Clerk</option>
          </select>
          <small class="text-muted">Select an appropriate option.</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Status</label>
        </div>
        <div class="col-md-8">
          <lw-select
            [options]="[{ statusId: '1', statusTitle: 'Enabled' }]"
            bindValue="statusId"
            bindLabel="statusTitle"
            firstText="Disabled"
            [notAddValue]="true"
            [notEditValue]="true"
            controlName="status"
          >
          </lw-select>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="submitForm()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
