<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <h5>Case Activities</h5>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 toolbar">
    <ul class="list-inline">
      <li>
        <a
          class="btn btn_toolbar"
          ><span class="glyphicon glyphicon-plus"></span> Record new activity</a
        >
      </li>
    </ul>
  </div>
</div>
<hr />

<div class="table-responsive">
  <div id="DataTables_Table_5_wrapper" class="dataTables_wrapper no-footer">
    <div id="DataTables_Table_5_filter" class="dataTables_filter">
      <label
        >Search:<input
          type="search"
          class=""
          placeholder=""
          aria-controls="DataTables_Table_5"
      /></label>
    </div>
    <table
      class="table table-striped res_tab_full_desc dataTable no-footer"
      cellspacing="0"
      width="100%"
      id="DataTables_Table_5"
      role="grid"
      aria-describedby="DataTables_Table_5_info"
    >
      <thead>
        <tr role="row">
          <th
            class="sorting_desc"
            tabindex="0"
            aria-controls="DataTables_Table_5"
            rowspan="1"
            colspan="1"
            aria-sort="descending"
            aria-label="Date: activate to sort column ascending"
          >
            Date
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_5"
            rowspan="1"
            colspan="1"
            aria-label="Type: activate to sort column ascending"
          >
            Type
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_5"
            rowspan="1"
            colspan="1"
            aria-label="Description: activate to sort column ascending"
          >
            Description
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_5"
            rowspan="1"
            colspan="1"
            aria-label="Author: activate to sort column ascending"
          >
            Author
          </th>
          <th
            width="50"
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_5"
            rowspan="1"
            colspan="1"
            aria-label="Actions: activate to sort column ascending"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr role="row" class="odd">
          <td class="sorting_1">30 Sep 2021</td>
          <td><i class="fa fa-file-o"></i> Note</td>
          <td>Added note: test2</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>
            <ul class="nav nav-right">
              <li>
                <a
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  ><span class="glyphicon glyphicon-triangle-bottom"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a
                      onclick="return confirm('Are you sure you want to delete this record?');"
                      ><span class="glyphicon glyphicon-remove"></span>
                      Delete</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr role="row" class="even">
          <td class="sorting_1">30 Sep 2021</td>
          <td><i class="fa fa-file-o"></i> Note</td>
          <td>Added note: test</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>
            <ul class="nav nav-right">
              <li>
                <a
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  ><span class="glyphicon glyphicon-triangle-bottom"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a
                      onclick="return confirm('Are you sure you want to delete this record?');"
                      ><span class="glyphicon glyphicon-remove"></span>
                      Delete</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr role="row" class="odd">
          <td class="sorting_1">30 Sep 2021</td>
          <td><i class="fa fa-file-o"></i> Note</td>
          <td>New bill created: BL-00004</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>
            <ul class="nav nav-right">
              <li>
                <a
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  ><span class="glyphicon glyphicon-triangle-bottom"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a
                      onclick="return confirm('Are you sure you want to delete this record?');"
                      ><span class="glyphicon glyphicon-remove"></span>
                      Delete</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr role="row" class="even">
          <td class="sorting_1">30 Sep 2021</td>
          <td><i class="fa fa-check"></i> Info</td>
          <td>New case has been opened</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>
            <ul class="nav nav-right">
              <li>
                <a
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  ><span class="glyphicon glyphicon-triangle-bottom"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a
                      onclick="return confirm('Are you sure you want to delete this record?');"
                      ><span class="glyphicon glyphicon-remove"></span>
                      Delete</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="dataTables_info"
      id="DataTables_Table_5_info"
      role="status"
      aria-live="polite"
    >
      Showing 1 to 4 of 4 entries
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h5>Caseworkers</h5>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 toolbar"></div>
</div>
<hr />
<div class="table-responsive">
  <div id="DataTables_Table_6_wrapper" class="dataTables_wrapper no-footer">
    <div id="DataTables_Table_6_filter" class="dataTables_filter">
      <label
        >Search:<input
          type="search"
          class=""
          placeholder=""
          aria-controls="DataTables_Table_6"
      /></label>
    </div>
    <table
      class="table table-striped res_tab_full_desc dataTable no-footer"
      cellspacing="0"
      width="100%"
      id="DataTables_Table_6"
      role="grid"
      aria-describedby="DataTables_Table_6_info"
    >
      <thead>
        <tr role="row">
          <th
            width="100"
            class="sorting_desc"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-sort="descending"
            aria-label="Date: activate to sort column ascending"
          >
            Date
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-label="Supervisor: activate to sort column ascending"
          >
            Supervisor
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-label="Caseworker: activate to sort column ascending"
          >
            Caseworker
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-label="Modified By: activate to sort column ascending"
          >
            Modified By
          </th>
        </tr>
      </thead>
      <tbody>
        <tr role="row" class="odd">
          <td class="sorting_1">30 Sep 2021</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>Dr. Mazhar Ilahi</td>
        </tr>
      </tbody>
    </table>
    <div
      class="dataTables_info"
      id="DataTables_Table_6_info"
      role="status"
      aria-live="polite"
    >
      Showing 1 to 1 of 1 entries
    </div>
  </div>
</div>
