<div class="row">
  <div class="col-12">
    <h5>Case Activities</h5>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-sm row-border hover" datatable [dtOptions]="dtOptions">
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <h5>Caseworkers</h5>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 toolbar"></div>
</div>
<hr />
<div class="table-responsive">
  <div id="DataTables_Table_6_wrapper" class="dataTables_wrapper no-footer">
    <div id="DataTables_Table_6_filter" class="dataTables_filter">
      <label
        >Search:<input
          type="search"
          class=""
          placeholder=""
          aria-controls="DataTables_Table_6"
      /></label>
    </div>
    <table
      class="table table-striped res_tab_full_desc dataTable no-footer"
      cellspacing="0"
      width="100%"
      id="DataTables_Table_6"
      role="grid"
      aria-describedby="DataTables_Table_6_info"
    >
      <thead>
        <tr role="row">
          <th
            width="100"
            class="sorting_desc"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-sort="descending"
            aria-label="Date: activate to sort column ascending"
          >
            Date
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-label="Supervisor: activate to sort column ascending"
          >
            Supervisor
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-label="Caseworker: activate to sort column ascending"
          >
            Caseworker
          </th>
          <th
            class="sorting"
            tabindex="0"
            aria-controls="DataTables_Table_6"
            rowspan="1"
            colspan="1"
            aria-label="Modified By: activate to sort column ascending"
          >
            Modified By
          </th>
        </tr>
      </thead>
      <tbody>
        <tr role="row" class="odd">
          <td class="sorting_1">30 Sep 2021</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>Dr. Mazhar Ilahi</td>
          <td>Dr. Mazhar Ilahi</td>
        </tr>
      </tbody>
    </table>
    <div
      class="dataTables_info"
      id="DataTables_Table_6_info"
      role="status"
      aria-live="polite"
    >
      Showing 1 to 1 of 1 entries
    </div>
  </div>
</div>
