<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Cases<span class="glyphicon glyphicon-chevron-right mx-3"></span>CL/{{caseId.toFixed(2)}}/Sabir<span class="glyphicon glyphicon-chevron-right mx-3"></span>Peshi List<span class="glyphicon glyphicon-chevron-right mx-3"></span>Add new peshi</h1>
<div class="widget">
    <div class="widget-body">
        <form [formGroup]="newPeshiForm">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>* File Ref.</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="fileRef" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="inpCOVER">
                        * Court Case No.
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="courtCaseNumber" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="inpAGREED">* Case Title</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="caseTitle" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>
                        * Nature of Case
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="natureOfCase" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>* Categories</label>
                </div>
                <div class="col-md-8">
                    <ng-select [items]="[]" formControlName="categories" placeholder="Please Select">
                    </ng-select>
                    <small class="text-muted">Select an appropriate option.</small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="inpFEE">* Court</label>
                </div>
                <div class="col-md-8">
                    <ng-select [items]="[]" formControlName="courts" placeholder="Please Select">
                    </ng-select>
                    <small class="text-muted">Select an appropriate option.</small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>* Name Of the Judge</label>
                </div>
                <div class="col-md-8">
                    <input type="text" maxlength="200" class="form-control" formControlName="nameOfJudge"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>* District/Bench</label>
                </div>
                <div class="col-md-8">
                    <input type="text" maxlength="200" class="form-control" formControlName="districtOrBench"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="inpADVANCE">* Previous proceedings</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="previousProceeding"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Previous date</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="form-control" formControlName="previousDate" placeholder="dd-mm-yyyy" 
                            name="dp" ngbDatepicker #t="ngbDatepicker">
                        <div class="input-group-append">
                        <button class="btn btn-secondary fa fa-calendar-o" (click)="t.toggle();" type="button"></button>
                        </div>
                    </div>
                    <small class="text-muted">Format: dd-mm-yyyy</small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Next date</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="form-control" formControlName="nextDate" placeholder="dd-mm-yyyy" 
                            name="dp" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                        <button class="btn btn-secondary fa fa-calendar-o" (click)="d.toggle();" type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Remarks</label>
                </div>
                <div class="col-md-8">
                    <textarea row mb-3s="3" class="form-control" formControlName="remarks"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Case Owner</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="caseOwner"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Case worker</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="caseWorker"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Case Clerk</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="caseClerk"/>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Other party lawyer</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="otherPartyLawyer"/>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>