<lw-header (openModal)="openModal($event)" [isClient]="isClient" [Settings]="Settings" [installments]="installments" [reminders]="reminders" [workflow]="workflow"></lw-header>
<div class="container-fluid h-100">
  <div class="row h-100">
    <lw-sidenav class="fixer col-sm-12 col-sm-4 col-xl-2 lw-sidenav d-none d-xl-block navForPrint" [isClient]="isClient" [menuItems]="LeftMenu" [clientMenu]="clientMenu" [openSideNav]="mobileMenu" (closed)="mobileMenu = false"></lw-sidenav>
    <div class="col-sm-12 col-sm-12 col-md-12 col-xl-10 main">
      <div class="row" *ngIf="!isClient">
        <div class="col-sm-12">
          <app-floating-timer></app-floating-timer>
        </div>
      </div>
      <div [hidden]="!!isLoading">
        <router-outlet></router-outlet>
      </div>
      <div *ngIf="isLoading" class="h-100 d-flex align-items-center justify-content-center">
        <i class="fa fa-circle-notch fa-spin fa-4x"></i>
      </div>
      <div class="menu_footer_mobile d-xl-none">
        <div class="container">
          <div class="row">
            <div class="col-3 mobi_bar bl">
              <a class="pointer text-decoration-none" (click)="openModal('MobileSettingsMenu')"><span class="fa fa-cog"></span>Settings</a>
            </div>
            <div class="col-3 mobi_bar br">
              <a class="pointer text-decoration-none" (click)="openModal('MobileCalculatorsMenu')"><span class="fa fa-calculator"></span>Calculators</a>
            </div>
            <div class="col-3 mobi_bar br">
              <a class="pointer text-decoration-none" (click)="openModal('MobileNotificationsMenu')"><span class="fa fa-bell-o"></span>Notifications
                <i class="fa fa-circle dot" aria-hidden="true"></i></a>
            </div>
            <div class="col-3 mobi_bar bl">
              <a class="pointer text-decoration-none" (click)="mobileMenu = true"><span class="fa fa-bars"></span>Menu</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- windowClass modal-left mobi-menu1 modal left fade -->
<ng-template #MobileSettingsMenu let-modal>
  <div class="modal-header">
    <h5 class="modal-title" ngbAutoFocus>
      Settings
    </h5>
    <button type="button" class="close" (click)="modal.close('Close Button')" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-sidebar">
      <li *ngFor="let Setting of Settings">
        <a (click)="modal.close('Route Changed')" [routerLink]="Setting.parentUrl ? [Setting.parentUrl, Setting.url] : ['settings', Setting.url]">
          <span class="{{Setting.iconType ? Setting.iconType + ' ' + Setting.iconType : 'glyphicon glyphicon'}}-{{Setting.icon}}"></span>
          {{Setting.text}}
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Sign out
      (Dr. Mazhar Ilahi)</a>
  </div>
</ng-template>

<!-- windowClass modal-left mobi-menu2 modal left fade -->
<ng-template #MobileNotificationsMenu let-modal>
  <div class="modal-header">
    <h5 class="modal-title" ngbAutoFocus>
      Notifications
    </h5>
    <button type="button" class="close" (click)="modal.close('Close Button')" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-sidebar">
      <li>
        <a [routerLink]="['/dashboard/installments']"><span class="glyphicon glyphicon-bell"></span>
          Instalments <span class="badge">5</span></a>
      </li>
      <li>
        <a><span class="glyphicon glyphicon-bell"></span> Workflow
        </a>
      </li>
      <li>
        <a><span class="glyphicon glyphicon-bell"></span>
          Reminders <span class="badge">2</span></a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Sign out
      (Dr. Mazhar Ilahi)</a>
  </div>
</ng-template>

<!-- windowClass modal-left mobi-menu2 modal left fade -->
<ng-template #MobileCalculatorsMenu let-modal>
  <div class="modal-header">
    <h5 class="modal-title" ngbAutoFocus>
      Calculators
    </h5>
    <button type="button" class="close" (click)="modal.close('Close Button')" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-sidebar">
      <li>
        <a data-toggle="modal" data-target="#myModalVAT"><i class="fa fa-calculator"></i> VAT Calculator</a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#myModalCalTime"><i class="fa fa-calculator"></i> Hourly Rate
          <i class="fa fa-arrow-right"></i> Time</a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#myModalCalUnit"><i class="fa fa-calculator"></i> Time
          <i class="fa fa-arrow-right"></i> Units</a>
      </li>
      <li>
        <a data-toggle="modal" data-target="#myModalCalMin"><i class="fa fa-calculator"></i> Units
          <i class="fa fa-arrow-right"></i> Time</a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Sign out
      (Dr. Mazhar Ilahi)</a>
  </div>
</ng-template>

<ng-template #VATCalculator let-modal>
  <div class="modal-header">
    <h4 class="modal-title" ngbAutoFocus>VAT Calculator</h4>
    <button type="button" class="close" (click)="modal.close('Close Button')" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
          <label>Enter Amount (Example: 425.50)</label>
          <input type="text" maxlength="10" class="form-control search-box" />
        </div>
      </div>
    </form>
    <p id="vat_result"></p>
    <p class="text-center">
      <a class="btn" (click)="modal.close('Cross Click')"><i class="icon-remove icon-white"></i> Close
        Calculator</a>
    </p>
  </div>
</ng-template>

<ng-template #TimeToUnitCalculator let-modal>
  <div class="modal-header">
    <h4 class="modal-title" ngbAutoFocus>
      Time to Unit Calculator
    </h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
          <label>Enter Total Minutes (Example: 45)</label>
          <input type="text" maxlength="10" class="form-control search-box" id="inptUNIT" name="inptUNIT" value="" />
        </div>
      </div>
    </form>
    <p id="cal_unit_result"></p>
    <span>Time for work spent performing a service should be reported
      in tenths of an hour.</span>
    <hr />
    <table>
      <tbody>
        <tr>
          <td><strong>1-6 Minutes = 1 Unit</strong></td>
          <td><strong>25-30 Minutes = 5 Units</strong></td>
          <td><strong>49-54 Minutes = 9 Units</strong></td>
        </tr>
        <tr>
          <td><strong>7-12 Minutes = 2 Units</strong></td>
          <td><strong>31-36 Minutes = 6 Units</strong></td>
          <td><strong>55-60 Minutes = 10 Units</strong></td>
        </tr>
        <tr>
          <td><strong>13-18 Minutes = 3 Units</strong></td>
          <td><strong>37-42 Minutes = 7 Units</strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>19-24 Minutes = 4 Units</strong></td>
          <td><strong>43-48 Minutes = 8 Units</strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <p class="text-center">
      <a (click)="modal.close('Close Button')" class="btn"><i class="icon-remove icon-white"></i> Close
        Calculator</a>
    </p>
  </div>
</ng-template>

<ng-template #UnitToTimeCalculator let-modal>
  <div class="modal-header">
    <h4 class="modal-title" ngbAutoFocus>
      Unit to Time Calculator
    </h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
          <label>Enter Total Units (Example: 45)</label>
          <input type="text" maxlength="10" class="form-control search-box" id="inpuTIME" name="inpuTIME" value="" />
        </div>
      </div>
    </form>
    <p id="cal_utime_result"></p>

    <span>Time for work spent performing a service should be reported
      in tenths of an hour.</span>
    <hr />
    <table>
      <tbody>
        <tr>
          <td><strong>1-6 Minutes = 1 Unit</strong></td>
          <td><strong>25-30 Minutes = 5 Units</strong></td>
          <td><strong>49-54 Minutes = 9 Units</strong></td>
        </tr>
        <tr>
          <td><strong>7-12 Minutes = 2 Units</strong></td>
          <td><strong>31-36 Minutes = 6 Units</strong></td>
          <td><strong>55-60 Minutes = 10 Units</strong></td>
        </tr>
        <tr>
          <td><strong>13-18 Minutes = 3 Units</strong></td>
          <td><strong>37-42 Minutes = 7 Units</strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>19-24 Minutes = 4 Units</strong></td>
          <td><strong>43-48 Minutes = 8 Units</strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <hr />
    <p class="text-center">
      <a (click)="modal.close('Close Button')" class="btn"><i class="icon-remove icon-white"></i> Close
        Calculator</a>
    </p>
  </div>
</ng-template>

<ng-template #AmountToTimeCalculator let-modal>
  <div class="modal-header">
    <h4 class="modal-title" ngbAutoFocus>
      Amount & Hourly Rate to Time Calculator
    </h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-sm-12 col-sm-12 col-md-12 col-lg-12">
          <label>Enter Amount (Example: 425.50)</label>
          <input type="text" maxlength="10" class="form-control search-box" id="inpTCAL_AMOUNT" name="inpTCAL_AMOUNT"
            value="" />
          <label>Enter Hourly Rate (Example: 250.50)</label>
          <input type="text" maxlength="10" class="form-control search-box" id="inpTCAL_RATE" name="inpTCAL_RATE"
            value="" />
        </div>
      </div>
    </form>
    <p id="tcalc_result"></p>
    <p class="muted">&nbsp;</p>
    <p class="text-center">
      <a (click)="modal.close('Close Button')" class="btn"><i class="icon-remove icon-white"></i> Close
        Calculator</a>
    </p>
  </div>
</ng-template>

<script type="text/javascript">
  /* Set the width of the side navigation to 250px */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }

  var h1 = document.getElementById("stopwatch")[0],
    start = document.getElementById("stpw_start"),
    stop = document.getElementById("stpw_stop"),
    clear = document.getElementById("stpw_clear"),
    tpopup = document.getElementById("stpw_popup"),
    seconds = getCookie("seconds"),
    minutes = getCookie("minutes"),
    hours = getCookie("hours"),
    t;

  function add() {
    seconds++;
    if (seconds >= 60) {
      seconds = 0;
      minutes++;

      if (minutes >= 60) {
        minutes = 0;
        hours++;
      }
    }
    document.getElementById("stopwatch").textContent =
      (hours ? (hours > 9 ? hours : "0" + hours) : "00") +
      ":" +
      (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") +
      ":" +
      (seconds > 9 ? seconds : "0" + seconds);
    timer();
    setCookie("hours", hours.toString(), 1);
    setCookie("minutes", minutes.toString(), 1);
    setCookie("seconds", seconds.toString(), 1);
  }

  function timer() {
    t = setTimeout(add, 1000);
  }

  if (
    getCookie("seconds") > 0 ||
    getCookie("minutes") > 0 ||
    getCookie("hours") > 0
  ) {
    document.getElementById("stopwatch").textContent =
      (hours ? (hours > 9 ? hours : "0" + hours) : "00") +
      ":" +
      (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") +
      ":" +
      (seconds > 9 ? seconds : "0" + seconds);
    if (getCookie("is_pause") != 99) {
      document.getElementById("stpw_start").style.display = "none";
      document.getElementById("stpw_stop").style.display =
        "inline-block";
      timer();
    }
  } else {
    document.getElementById("stpw_start").style.display =
      "inline-block";
    document.getElementById("stpw_stop").style.display = "none";
  }

  if (getCookie("is_pause") == 99) {
    document.getElementById("stpw_start").style.display =
      "inline-block";
    document.getElementById("stpw_stop").style.display = "none";
  }

  tpopup.onclick = function () {
    document.getElementById("inptTIME").value =
      (hours ? (hours > 9 ? hours : "0" + hours) : "00") +
      ":" +
      (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") +
      ":" +
      (seconds ? (seconds > 9 ? seconds : "0" + seconds) : "00");
  };

  /* Start button */
  //start.onclick = timer;

  start.onclick = function () {
    document.getElementById("stpw_start").style.display = "none";
    document.getElementById("stpw_stop").style.display = "inline-block";
    setCookie("is_pause", 0, 1);
    timer();
  };

  /* Pause button */
  stop.onclick = function () {
    document.getElementById("stpw_start").style.display =
      "inline-block";
    document.getElementById("stpw_stop").style.display = "none";
    setCookie("is_pause", 99, 1);
    clearTimeout(t);
  };

  /* Stop button */
  clear.onclick = function () {
    if (confirm("Are you sure that you want to reset this timer?")) {
      document.getElementById("stpw_start").style.display =
        "inline-block";
      document.getElementById("stpw_stop").style.display = "none";

      document.getElementById("stopwatch").textContent = "00:00:00";
      seconds = 0;
      minutes = 0;
      hours = 0;
      document.cookie =
        "hours=0; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
      document.cookie =
        "minutes=0; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
      document.cookie =
        "seconds=0; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/";
      setCookie("is_pause", 0, 1);
      clearTimeout(t);
    }
  };

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    var expires = "expires=" + d.toUTCString();
    document.cookie =
      cname + "=" + cvalue + "; " + expires + "; path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") c = c.substring(1);
      if (c.indexOf(name) == 0)
        return c.substring(name.length, c.length);
    }
    return "";
  }
</script>