<!-- TAB PROFILE [START] -->
<div class="r-tabs-accordion-title r-tabs-state-default">
    <a class="r-tabs-anchor">Personal Details</a
  >
</div>
<div
  id="mid-profile"
  class="r-tabs-panel r-tabs-state-default"
  style="display: none"
>
  <div class="col-sm-12 col-md-12">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h5>Personal Details</h5>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <ul class="nav nav-right">
          <li class="toolbar_dd">
            <a
              class="dropdown-toggle btn btn-primary"
              data-toggle="dropdown"
              aria-expanded="false"
              >Actions <span class="caret"></span
            ></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a target="_blank"><span class="glyphicon glyphicon-print"></span> Print client
                  information sheet</a
                >
              </li>
              <li>
                <a
                  ><span class="glyphicon glyphicon-pencil"></span> Edit
                  personal details</a
                >
              </li>
              <li>
                <a
                  ><span class="glyphicon glyphicon-plus"></span> Add other
                  applicants / parties</a
                >
              </li>
              <li>
                <a
                  onclick="return confirm('Are you sure you want to remove this case permanently? This Case ID (1006) will be assigned to new case automatically.');"
                  ><span class="glyphicon glyphicon-remove"></span> Delete
                  profile</a
                >
              </li>
              <hr />
              <li>
                <a
                  ><span class="glyphicon glyphicon-user"></span> Client
                  portal</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <hr />

    <div class="profile">
      <div class="row">
        <div class="col-md-4 strongest">Client's Company Name</div>
        <div class="col-md-8"></div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Client's Name</div>
        <div class="col-md-8">Rizwan Sabir</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Date of Birth</div>
        <div class="col-md-8">07 September 2021</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Gender</div>
        <div class="col-md-8">Female</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Nationality</div>
        <div class="col-md-8">Austria</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Address</div>
        <div class="col-md-8">
          41 D Office No 7 2nd Floor PIA Main Bulevard Wapdatown Lahore<br />Lahore<br />54000<br />PAKISTAN
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Email Address</div>
        <div class="col-md-8">rizwanalisabir@gmail.com</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Phone Number</div>
        <div class="col-md-8">03028005404 / 03028005404</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Correspondence Mode</div>
        <div class="col-md-8">By Post (Hard Copy)</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Source</div>
        <div class="col-md-8">Referred by Friend / Family Member</div>
      </div>
      <div class="row">
        <div class="col-md-4 strongest">Last Modified By</div>
        <div class="col-md-8">Dr. Mazhar Ilahi on 30-09-2021 16:14:40</div>
      </div>

      <div class="clearme"></div>

      <div class="clearme"></div>
    </div>
  </div>
  <div class="clearme"></div>
</div>