<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Office locations</h1>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a class="btn"><span class="glyphicon glyphicon-plus"></span> Add new</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h5>Office Locations</h5>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 toolbar">
            <ul class="list-inline"></ul>
          </div>
        </div>
        <hr />

        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="DataTables_Table_0"
              /></label>
            </div>
            <table
              class="table table-striped res_tab_full_asc dataTable no-footer"
              cellspacing="0"
              width="100%"
              id="DataTables_Table_0"
              role="grid"
              aria-describedby="DataTables_Table_0_info"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting_asc"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Title: activate to sort column descending"
                  >
                    Title
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Phone: activate to sort column ascending"
                  >
                    Phone
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Fax: activate to sort column ascending"
                  >
                    Fax
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Email: activate to sort column ascending"
                  >
                    Email
                  </th>
                  <th
                    width="50"
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions: activate to sort column ascending"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1">
                    <a
                      class="td_link_dark"
                      >Main Office</a
                    >
                  </td>
                  <td></td>
                  <td></td>
                  <td>mazharilahi@hotmail.com</td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="fa fa-google-wallet"></span>
                              Signature</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to delete this record?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="DataTables_Table_0_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 1 of 1 entries
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>