<div class="lw-form">
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="inpFEE">* File Ref.</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpAGREED" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="inpCOVER">
                * Court Case No.
            </label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpAGREED" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="inpAGREED">* Case Title</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpAGREED" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="inpISVAT">
                * Nature of Case
            </label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpAGREED" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>* Categories</label>
        </div>
        <div class="col-md-8">
            <select class="w-100 selectpicker form-control"
                formControlName="categoryId">
                <option value="0">Please Select</option>
            </select>
            <small class="text-muted">Select an appropriate option.</small>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="inpFEE">* Court</label>
        </div>
        <div class="col-md-8">
            <select class="w-100 selectpicker form-control">
                <option value="0">Please Select</option>
            </select>
            <small class="text-muted">Select an appropriate option.</small>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>* Name Of the Judge</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="200" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>* District/Bench</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="200" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label for="inpADVANCE">* Previous proceedings</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpADVANCE" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Previous date</label>
        </div>
        <div class="col-md-8">
            <input type="date" maxlength="10" class="form-control bt_datepicker span12"
                name="inpINSTALMENT_DATE_1000" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Next date</label>
        </div>
        <div class="col-md-8">
            <input type="date" maxlength="10" class="form-control bt_datepicker span12"
                name="inpINSTALMENT_DATE_1000" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Remarks</label>
        </div>
        <div class="col-md-8">
            <textarea row mb-3s="3" class="form-control"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Case Owner</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpADVANCE" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Case worker</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpADVANCE" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Case Clerk</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpADVANCE" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>Other party lawyer</label>
        </div>
        <div class="col-md-8">
            <input type="text" maxlength="10" class="form-control" name="inpADVANCE" />
        </div>
    </div>
</div>