<ng-template #newOption let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{modalType == 'add' ? 'Add New': 'Edit'}} Option</h4>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="optionForm">
            <div class="form-group">
                <label>{{modalType == 'add' ? 'Add new' : 'Edit'}} option {{bindLabel && 'label'}} {{modalType == 'add' ? 'to': 'in'}} {{controlName | titlecase}}</label>
                <input class="w-100 form-control" formControlName="label"/>
            </div>
            <div class="form-group" *ngIf="((modalType == 'add' && !notAddValue) || (modalType == 'edit' && !notEditValue)) && bindLabel && bindValue">
                <label>{{modalType == 'add' ? 'Add new' : 'Edit'}} option {{bindLabel && 'value'}} {{modalType == 'add' ? 'to': 'in'}} {{controlName | titlecase}}</label>
                <input class="w-100 form-control" formControlName="value"/>
            </div>
            <div class="w-100 d-flex justify-content-end">
                <button class="btn btn-primary" (click)="addNewOption(modal)">{{modalType == 'add' ? 'Add' : 'Edit'}}</button>
            </div>
        </form>
    </div>
</ng-template>
<ng-container [formGroup]="formGroup">
    <select class="w-100 selectpicker form-control" #lwSELECT [formControlName]="controlName" (ngModelChange)="change.emit($event)">
        <option value="0" *ngIf="!noFirstText">{{!firstText ? 'Please Select' : firstText | titlecase}}</option>
        <option [value]="!bindValue ? i + 1 : option[bindValue]" *ngFor="let option of !sort ? options : options.sort(); let i = index">
            {{ !bindLabel ? option : option[bindLabel] }}
        </option>
    </select>
    <small class="text-muted">{{!customNote ? 'Select an appropriate option.': customNote}}</small>
    <span class="float-right mt-3">
         <button class="btn btn-primary mr-2" (click)="openModel('edit', newOption)" [disabled]="formControl.value == null || formControl.value == 0">
            <span class="fa fa-edit "></span>
        </button>
        <button
            class="btn btn-success" (click)="openModel('add', newOption)">
            <span class="fa fa-plus"></span>
        </button>
    </span>
</ng-container>