<h1
  id="pg-title"
  class="row align-items-center justify-content-center justify-content-md-start"
>
  Peshi List<span class="glyphicon glyphicon-chevron-right mx-3"></span>Add new
  peshi
</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div id="pg-nav" class="col-md-12">
            <ul class="list-inline">
              <li ngbDropdown class="mt-0">
                <a [routerLink]="['..']" class="btn">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  Back
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="widget">
  <div class="widget-body">
    <form [formGroup]="newPeshiForm">
      <div class="row mb-3">
        <div class="col-md-4">
          <label>* Case ID.</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            formControlName="caseId"
            (ngModelChange)="checkCase($event)"
          />
          <small class="text-muted">
            {{
              isValid
                ? clientName !== ""
                  ? clientName + " with ID: " + newPeshiForm.value.caseId
                  : ""
                : "Please enter a valid Case ID."
            }}
          </small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="inpADVANCE">* Previous proceedings</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            formControlName="previousProceedings"
          />
          <small class="text-mued">Enter valid previous Proceedings</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>Previous date</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input
              class="form-control"
              formControlName="previousDate"
              placeholder="dd-mm-yyyy"
              name="dp"
              ngbDatepicker
              #t="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-secondary fa fa-calendar-o"
                (click)="t.toggle()"
                type="button"
              ></button>
            </div>
          </div>
          <small class="text-muted">Format: dd-mm-yyyy</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>Next date</label>
        </div>
        <div class="col-md-8">
          <div class="input-group">
            <input
              class="form-control"
              formControlName="nextDate"
              placeholder="dd-mm-yyyy"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-secondary fa fa-calendar-o"
                (click)="d.toggle()"
                type="button"
              ></button>
            </div>
          </div>
          <small class="text-muted">Format: dd-mm-yyyy</small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>Remarks</label>
        </div>
        <div class="col-md-8">
          <textarea
            rows="3"
            class="form-control"
            formControlName="remarks"
          ></textarea>
          <small class="text-muted">Enter remarks.</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>* Name</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="200"
            class="form-control"
            formControlName="lawyerName"
          />
          <small class="text-muted">Enter lawyer name.</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>* Firm name</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="200"
            class="form-control"
            formControlName="lawyerFirmName"
          />
          <small class="text-muted">Enter lawyer firm name.</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>* Address</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="200"
            class="form-control"
            formControlName="lawyerAddress"
          />
          <small class="text-muted"
            >Example: Flat A, 123 Abc Road, Xyx Ave.</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Phone Number </label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="16"
            class="form-control"
            formControlName="lawyerPhoneNumber"
          />
          <small class="text-muted"
            >Note: Only digits without spaces. Example:07000111000</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Email</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="200"
            class="form-control"
            formControlName="lawyerEmail"
          />
          <small class="text-muted"
            >Example: user@company-name.co.pk (Optional)</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Fax</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="200"
            class="form-control"
            formControlName="lawyerFax"
          />
          <small class="text-muted">Enter lawyer fax number.</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>WhatsApp Number</label>
        </div>
        <div class="col-md-8">
          <input
            type="text"
            maxlength="16"
            class="form-control"
            formControlName="lawyerWhatsAppNumber"
          />
          <small class="text-muted"
            >Note: Only digits without spaces. Example:02080111000</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Other details specify</label>
        </div>
        <div class="col-md-8">
          <textarea
            class="form-control"
            formControlName="lawyerOtherDetailsSpecify"
            rows="3"
          ></textarea>
          <small class="text-muted">Enter lawyer's other details.</small>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary" (click)="submitForm()">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
