<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Document templates</h1>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                          <li>
                            <a
                              class="btn"
                              [routerLink]="['/templates/document-viewer']"
                              ><span class="glyphicon glyphicon-plus"></span> New
                              template</a
                            >
                          </li>
                      </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <table
                class="table table-striped table-sm row-border hover"
                [ngClass]="{
                  empty: documentTemplates && documentTemplates.length !== 0
                }"
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
              >
                <tbody>
            <tr *ngFor="let docTemp of documentTemplates" >
               <td>{{docTemp.createddate | date: 'dd-MM-YYYY'}}</td> 
               <td>{{docTemp.title}}</td>
              <td>
                <!-- <ul class="nav">
                  <li ngbDropdown>
                    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <li ngbDropdownItem>
                          <a [routerLink]="['edit', docTemp.documentId]">
                            <span class="glyphicon glyphicon-pencil mr-2"></span>
                            Edit
                          </a>
                        </li>
                        <li ngbDropdownItem>
                          <a (click)="deleteDocTemp(docTemp.documentId)">
                            <span class="glyphicon glyphicon-remove mr-2"></span>
                            Delete
                          </a>
                        </li>
                    </ul>
                    </li>
                </ul> -->
                <ul class="nav">
                  <li ngbDropdown>
                    <a ngbDropdownToggle class="nav-link" style="border-bottom: 0;" role="button">
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                        <li ngbDropdownItem>
                          <a [routerLink]="['/templates/edit', docTemp.documentid]">
                            <span class="glyphicon glyphicon-pencil mr-2"></span>
                            Edit
                          </a>
                        </li>
                        <li ngbDropdownItem>
                          <a (click)="deleteDocTemp(docTemp.documentid)">
                            <span class="glyphicon glyphicon-remove mr-2"></span>
                            Delete
                          </a>
                        </li>
                    </ul>
                    </li>
                </ul>
              </td>
            </tr>
          </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>