<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Consultations <span class="glyphicon glyphicon-chevron-right mx-2"></span> Add New</h1>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li><a [routerLink]="['/consultations']" class="btn">
                                <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">

                <div class="alert alert-info" role="alert">
                    <strong>Note:</strong> All fields marked with an asterisk (*) are required.
                </div>
                <form class="form-horizontal" [formGroup]="consultationForm">
                    <div class="row">
                        <div class="col-md-4"><label >* Consultation date</label></div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" formControlName="consultationDate" placeholder="dd-mm-yyyy" 
                                       name="dp" ngbDatepicker #t="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn btn-secondary fa fa-calendar-o" (click)="t.toggle(); clog(consultationForm.value)" type="button"></button>
                                </div>
                              </div>
                            <small class="text-muted">Format: dd-mm-yyyy</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="mask_time">* Consultation time</label></div>
                        <div class="col-md-8"><input type="text" maxlength="5" class="form-control" id="mask_time"
                                formControlName="consultationTime"><small class="text-muted">Example: 17:45</small></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label for="inpCATEGORY">* Category</label></div>
                        <div class="col-md-8">
                            <ng-select class="ng-select" [items]="categories" [multiple]="true"
                                bindLabel="categoryTitle" [closeOnSelect]="false" bindValue="categoryId"
                                placeholder="Please Select" formControlName="categories">
                                <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                    let-index="index">
                                    <input id="item-{{index}}" type="checkbox"
                                        [(ngModel)]="item$.selected"
                                        [ngModelOptions]="{standalone: true}" />
                                    {{item.categoryTitle}}
                                </ng-template>
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value py-1"
                                        *ngFor="let item of items; let f = first">
                                        <span class="ng-value-icon left" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                        <span class="ng-value-label">{{f ? item.categoryTitle + ' > ' :
                                            item.categoryTitle}}<strong *ngIf="f">Main
                                                Category</strong></span>
                                    </div>
                                </ng-template>
                            </ng-select>
                            <small class="text-muted">Select an appropriate option.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>* Sub-Category</label></div>
                        <div class="col-md-8">
                            <ng-select class="ng-select" [items]="[]" [multiple]="true"
                                bindLabel="subCategoryTitle" [closeOnSelect]="false"
                                bindValue="subCategoryId" placeholder="Please Select"
                                formControlName="subcategories">
                                <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                    let-index="index">
                                    <input id="item-{{index}}" type="checkbox"
                                        [(ngModel)]="item$.selected"
                                        [ngModelOptions]="{standalone: true}" />
                                    {{item.subCategoryTitle}}
                                </ng-template>
                            </ng-select>
                            <small class="text-muted">Select an appropriate option.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>* Client name</label></div>
                        <div class="col-md-8"><input type="text" maxlength="200" class="form-control" formControlName="name"><small class="text-muted">Example: John Smith</small></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Phone number</label></div>
                        <div class="col-md-8"><input type="text" maxlength="16" class="form-control" formControlName="phoneNumber"><small class="text-muted">Note: Only digits without
                                spaces. Example: 07000111000 (Optional)</small></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Email address</label></div>
                        <div class="col-md-8"><input type="text" maxlength="200" class="form-control" formControlName="email"><small class="text-muted">Example: user@company-name.co.uk
                                (Optional)</small></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Address</label></div>
                        <div class="col-md-8"><input type="text" maxlength="200" class="form-control" formControlName="address"><small class="text-muted">Example: Flat
                                A, 123 Abc Road, Xyz Ave SW36 2AB (Including Postcode)</small></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>* Case summary</label></div>
                        <div class="col-md-8"><textarea class="form-control"
                                formControlName="caseSummary" rows="7"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Key facts (strength and weakness)</label></div>
                        <div class="col-md-8"><textarea class="form-control"
                                formControlName="keyFacts" rows="7"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Advice given</label></div>
                        <div class="col-md-8"><textarea class="form-control"
                                formControlName="adviceGiven" rows="7"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>* Chances of Success</label></div>
                        <div class="col-md-8"><select formControlName="chancesOfSuccess"
                                class="selectpicker show-menu-arrow form-control">
                                <option value="" selected="selected">--Please Select--</option>
                                <option value="1">Poor (Less than 40%)</option>
                                <option value="2">Moderate (40% - 60%)</option>
                                <option value="3">Good (60% - 80%)</option>
                                <option value="4">Very Good (80% - 100%)</option>
                                <option value="5">Not Applicable</option>
                            </select>
                            <small class="text-muted">Select an appropriate option.</small>
                        </div>
                    </div>

                    <div class="box-green ">
                        <div class="row">
                            <div class="col-md-4"><label>Consultation fee</label></div>
                            <div class="col-md-8"><input type="text" maxlength="10" class="form-control"
                                    formControlName="consultationFee"><small class="text-muted">Example: 149.99 (Including
                                    VAT)</small></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="inpISVAT">Is VAT applicable &amp; included into
                                    fee?</label></div>
                            <div class="col-md-8"><select formControlName="isVATApplicable"
                                    class="selectpicker show-menu-arrow form-control">
                                    <option value="0" selected="selected">No</option>
                                    <option value="1">Yes</option>
                                </select>
                                <small class="text-muted">Select an appropriate option.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="inpMODE">Mode of payment</label></div>
                            <div class="col-md-8"><select formControlName="modeOfPayment"
                                    class="selectpicker show-menu-arrow form-control">
                                    <option value="0" selected="selected">--Please Select--</option>
                                    <option value="1">Cash</option>
                                    <option value="2">Card</option>
                                    <option value="3">Cash &amp; Card</option>
                                    <option value="4">Cheque</option>
                                    <option value="5">Online</option>
                                    <option value="6">Deposit</option>
                                    <option value="7">Mixed</option>
                                    <option value="8">Other</option>
                                </select>
                                <small class="text-muted">Select an appropriate option.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="inpQUOTED">Case fee quoted</label></div>
                            <div class="col-md-8"><input type="text" maxlength="10" class="form-control" formControlName="caseFeeQuoted" value=""><small class="text-muted">Example:
                                    1199.50 (Including VAT)</small></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label for="inpQDATE">Quotation expiry date</label></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control" formControlName="quotationExpiryDate" placeholder="dd-mm-yyyy" 
                                           name="dp" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                      <button class="btn btn-secondary fa fa-calendar-o" (click)="d.toggle()" type="button"></button>
                                    </div>
                                  </div>
                                <small class="text-muted">Format: dd-mm-yyyy</small></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button style="margin-bottom:15px;" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>