<div class="row">
    <div class="col-sm-12 d-flex justify-content-between">
        <h5>Key Dates</h5>
        <!-- <ul class="list-inline">
            <li>
                <a class="btn btn_toolbar"><span class="glyphicon glyphicon-plus"></span> Add new key date</a>
            </li>
        </ul> -->
    </div>
</div>
<table class="table table-striped table-sm row-border hover" [ngClass]="{'empty': keyDates && keyDates.length !== 0}" datatable [dtOptions]="dtOptions">
    <tbody>
        <tr *ngFor="let keyDate of keyDates">
            <td class="text-center">
                <span class="glyphicon glyphicon-stop glyphicon-red"></span>
            </td>
            <td>{{keyDate.keyDate |  date: 'dd MMM YYYY'}}</td>
            <td>
                <strong>{{keyDate.title}}</strong>
                <br />
                <small class="muted">{{keyDate.title}}</small>
            </td>
            <td></td>
            <td>
                <ul class="nav">
                  <li ngbDropdown>
                    <a ngbDropdownToggle class="nav-link" role="button"> </a>
                    <ul
                      ngbDropdownMenu
                      class="dropdown-menu dropdown-menu-right"
                    >
                      <li ngbDropdownItem>
                        <a (click)="deleteKeyDate(keyDate.keyDateId)">
                          <span class="glyphicon glyphicon-remove"></span>
                          Delete
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
       </tr>
    </tbody>
  </table>
<!-- <div class="table-responsive">
    <div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer">
        <div id="DataTables_Table_3_filter" class="dataTables_filter">
            <label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_3" /></label>
        </div>
        <table class="table table-striped res_tab_full_asc dataTable no-footer" cellspacing="0" width="100%"
            id="DataTables_Table_3" role="grid" aria-describedby="DataTables_Table_3_info">
            <thead>
                <tr role="row">
                    <th width="40" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1"
                        colspan="1" aria-sort="ascending" aria-label="&amp;nbsp;: activate to sort column descending">
                        &nbsp;
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
                        aria-label="Key date: activate to sort column ascending">
                        Key date
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
                        aria-label="Title: activate to sort column ascending">
                        Title
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1" colspan="1"
                        aria-label="Reminder date: activate to sort column ascending">
                        Reminder date
                    </th>
                    <th width="50" class="sorting" tabindex="0" aria-controls="DataTables_Table_3" rowspan="1"
                        colspan="1" aria-label="Actions: activate to sort column ascending">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr role="row" class="odd">
                    <td class="text-center sorting_1">
                        <span data-toggle="tooltip" title="" class="glyphicon glyphicon-stop glyphicon-red"
                            data-original-title="Overdue"><span class="hideme">2</span></span>
                    </td>
                    <td><span class="hideme">20210930</span>30 Sep 2021</td>
                    <td>
                        <strong>test</strong>
                        <br />
                        <small class="muted">test</small>
                    </td>
                    <td></td>
                    <td>
                        <ul class="nav nav-right">
                            <li>
                                <a><span
                                        class="glyphicon glyphicon-triangle-bottom"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a><span
                                                class="glyphicon glyphicon-pencil"></span> Edit</a>
                                    </li>
                                    <li>
                                        <a
                                            onclick="return confirm('Are you sure you want to delete this record?');"><span
                                                class="glyphicon glyphicon-remove"></span>
                                            Delete</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">
            Showing 1 to 1 of 1 entries
        </div>
    </div>
</div> -->