<div class="row">
    <div class="col-md-12" id="pg-title">Contact book settings</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a class="btn"><span class="fa fa-bar-chart"></span> Dashboard</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <h5>Import contacts from outlook</h5>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 toolbar"></div>
        </div>
        <hr />
        <form
          class="form-horizontal"
          action="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/contacts/import-contacts/"
          method="post"
          accept-charset="UTF-8"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-md-4">Upload CSV file</div>
            <div class="col-md-8">
              <input
                type="file"
                id="userfile"
                name="userfile"
                class="input-xlarge"
              /><small class="text-muted"
                >*.CSV file only.<br />Maximum size: 100 MB (Required)</small
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
              <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-import"></span> Import contacts
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>