<h1 id="pg-title" class="row align-items-center justify-content-center justify-content-md-start">Journal Voucher</h1>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12" id="pg-nav">
                        <ul class="list-inline">
                            <li>
                                <a [routerLink]="['new-category']" class="btn"><span class="glyphicon glyphicon-plus"></span> Add new</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="printMedia">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="table-responsive">
          <table
          class="table table-striped table-sm row-border hover"
          [ngClass]="{
            'empty': journalTransaction && journalTransaction.length !== 0
          }"
          datatable
          [dtOptions]="dtOptions"
        >
                <tbody>
                  <tr *ngFor="let journal of journalTransaction">
                   <td>
                      <a
                        [routerLink]="['journalVoucher', journal.journalVoucherMasterId]"
                        style="font-size: 15px; border-bottom: 0 none"
                        class="td_link_dark"
                        >{{journal.description}}</a
                      >
                    </td>
                    <td>
                      {{journal.createdBy}}

                    </td>
                    <td>


                        {{journal.createdDate | date: 'MM-dd-yyyy'}}
                    </td>
                    <td>
                      <ul class="nav">
                        <li ngbDropdown>
                          <a ngbDropdownToggle class="td_link_dark" style="border-bottom: none;" role="button">
                          </a>
                          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                              <li ngbDropdownItem>
                                  <a [routerLink]="['category', journal.categoryId]">
                                      <span class="glyphicon glyphicon-tasks mr-2"></span>
                                      Manage Sub-categories
                                  </a>
                                  
                              </li>
                              <li ngbDropdownItem>
                                <a [routerLink]="['printjournalVoucher', journal.journalVoucherMasterId]">
                                  <span class="glyphicon glyphicon-print mr-2"></span>
                                  Print Journal Voucher
                              </a>
                              </li>
                              <!-- <li ngbDropdownItem>
                                <a (click)="deleteCaseCategory(category.categoryId)">
                                  <span class="glyphicon glyphicon-remove mr-2"></span>
                                  Delete
                                </a>
                              </li> -->
                          </ul>
                          </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
          <!-- <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper no-footer"
          >
            <div id="DataTables_Table_0_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="DataTables_Table_0"
              /></label>
            </div>
            <table
              class="
                table table table-striped
                res_tab_full_asc
                dataTable
                no-footer
              "
              cellspacing="0"
              width="100%"
              id="DataTables_Table_0"
              role="grid"
              aria-describedby="DataTables_Table_0_info"
            >
              <thead>
                <tr role="row">
                  <th
                    width="50"
                    class="sorting_asc"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-sort="ascending"
                    aria-label="Code: activate to sort column descending"
                  >
                    Code
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Title: activate to sort column ascending"
                  >
                    Title
                  </th>
                  <th
                    width="50"
                    class="sorting"
                    tabindex="0"
                    aria-controls="DataTables_Table_0"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions: activate to sort column ascending"
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd">
                  <td class="sorting_1">CL</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Civil Litigation</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="even">
                  <td class="sorting_1">CON</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Consumer Law</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="sorting_1">CRI</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Criminal Law</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="even">
                  <td class="sorting_1">EMP</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Employment Law</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="sorting_1">FAM</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Family Law</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="even">
                  <td class="sorting_1">HOU</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Housing Law (Property &amp; Conveyancing)</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                                                        <ul class="dropdown-menu" role="menu">
                                                                            <li>
                                                                                <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="sorting_1">HR</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Human Rights</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                                                                <ul class="dropdown-menu" role="menu">
                                                                                    <li>
                                                                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="even">
                  <td class="sorting_1">IMM</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Immigration &amp; Asylum</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                                                                        <ul class="dropdown-menu" role="menu">
                                                                                            <li>
                                                                                                <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr role="row" class="odd">
                  <td class="sorting_1">PIC</td>
                  <td>
                    <a
                      class="td_link_dark"
                      >Personal injury &amp; clinical negligence</a
                    >
                  </td>
                  <td>
                    <ul class="nav nav-right">
                      <li>
                        <a
                          href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false"
                          ><span
                            class="glyphicon glyphicon-triangle-bottom"
                          ></span
                        ></a>
                                                                                                <ul class="dropdown-menu" role="menu">
                                                                                                    <li>
                                                                                                        <a><span class="glyphicon glyphicon-pencil"></span>
                              Edit</a
                            >
                          </li>
                          <li>
                            <a
                              onclick="return confirm('Are you sure you want to remove this area of practice?');"
                              ><span class="glyphicon glyphicon-remove"></span>
                              Delete</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage sub-categories</a
                            >
                          </li>
                          <li>
                            <a
                              ><span class="glyphicon glyphicon-tasks"></span>
                              Manage custom fields</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="DataTables_Table_0_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 9 of 9 entries
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
