<h1
  id="pg-title"
  class="row align-items-center justify-content-center justify-content-md-start"
>
  Key dates / deadlines
</h1>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-md-12" id="pg-nav">
            <ul class="list-inline">
              <li>
                <a class="btn">
                  <span class="glyphicon glyphicon-bell"></span> Key dates
                  reminder
                </a>
              </li>
              <li>
                <a class="btn" [routerLink]="['/dashboard/installments']">
                  <span class="glyphicon glyphicon-bell"></span> Instalments
                  overdue
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-body">
        <div class="row">
          <div class="col-sm-12 col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
