<div class="container-fluid lw-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-xl-2 brand">
            <span class="main-logo">Legal Workspace</span>
            <span class="d-xl-none mobile-menu">
                <a data-toggle="modal" data-target=".mobi-menu">
                    <span class="fa fa-bars"></span>
                    <span class="d-md-inline-block d-none head">Menu</span>
                </a>
            </span>
        </div>
        <ul class="col-xs-3 col-sm-8 col-md-10 col-lg-10 d-none d-xl-flex nav main-menu">
            <li ngbDropdown ngbDropdownToggle>
                <a>
                    <span class="glyphicon glyphicon-bell"></span> Notifications
                    <span class="badge">7</span>
                </a>
                <ul ngbDropdownMenu>
                    <li ngbDropdownItem>
                        <a>
                            <span class="glyphicon glyphicon-bell"></span> Instalments
                            <span class="badge fright">5</span>
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a>
                            <span class="glyphicon glyphicon-bell"></span> Workflow
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a>
                            <span class="glyphicon glyphicon-bell"></span> Reminders
                            <span class="badge fright">2</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li ngbDropdown ngbDropdownToggle>
                <a>
                    <i class="fa fa-calculator"></i> Calculators
                </a>
                <ul ngbDropdownMenu>
                    <li ngbDropdownItem>
                        <a data-toggle="modal" data-target="#myModalVAT">
                            <i class="fa fa-calculator"></i> VAT Calculator
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a data-toggle="modal" data-target="#myModalCalTime">
                            <i class="fa fa-calculator"></i> Amount &amp; Hourly Rate
                            <i class="fa fa-arrow-right"></i> Time
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a data-toggle="modal" data-target="#myModalCalUnit">
                            <i class="fa fa-calculator"></i> Time
                            <i class="fa fa-arrow-right"></i> Units
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a data-toggle="modal" data-target="#myModalCalMin">
                            <i class="fa fa-calculator"></i> Units
                            <i class="fa fa-arrow-right"></i> Time
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown ngbDropdownToggle class='no-caret'>
                <a>
                    <span style="font-size: 18px;" class="glyphicon glyphicon-cog"></span>
                </a>
                <ul ngbDropdownMenu>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/global-settings']" >
                            <span class="glyphicon glyphicon-cog"></span> Global Settings
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/bank-accounts']">
                            <span class="fa fa-university"></span> Bank Accounts
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/office-locations']">
                            <span class="glyphicon glyphicon-home"></span> Office Locations
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/user-management']">
                            <span class="glyphicon glyphicon-user"></span> User Management
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/areas-of-practice']">
                            <span class="glyphicon glyphicon-check"></span> Areas of Practice
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/workflow-templates']">
                            <span class="fa fa-sitemap" aria-hidden="true"></span> Workflow Templates
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/hourly-rates']">
                            <span class="glyphicon glyphicon-time"></span> Hourly Rates
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/time-activity-codes']">
                            <span class="glyphicon glyphicon-time"></span> Time activity codes
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/vat-rates']">
                            <span class="glyphicon glyphicon-edit"></span> VAT Rates
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/documents']">
                            <span class="glyphicon glyphicon-duplicate"></span> Document Templates
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/quiz']">
                            <span class="glyphicon glyphicon-edit"></span> Questionnaire Management
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/calendar']">
                            <span class="glyphicon glyphicon-calendar"></span> Calendar Settings
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a [routerLink]="['/settings/contacts']">
                            <span class="glyphicon glyphicon-book"></span> Contact Book Settings
                        </a>
                    </li>
                </ul>
            </li>

            <li ngbDropdown ngbDropdownToggle class="no-caret none">
                <a>
                    <span class="badge green">
                        <span class="glyphicon glyphicon-user"></span> Dr. Mazhar Ilahi
                        <b class="hideme">DMI</b>
                    </span>
                </a>
                <ul ngbDropdownMenu>
                    <li ngbDropdownItem>
                        <a>
                            <span class="fa fa-key"></span> Change Password
                        </a>
                    </li>
                    <li ngbDropdownItem>
                        <a>
                            <span class="glyphicon glyphicon-log-out"></span> Sign out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>